// Import external libraries.
@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

body{
  background:#ebe9e1
  url( ../images/leftleave.jpg) left top no-repeat,
  url(../images/rightleave.jpg) right top no-repeat;
  a{
    color: #1c57a7;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
  }
}
h1 {
  color: #1c57a7;
  font-family: TrajanProBold;
  font-size: 23px;
  font-weight: normal;
}
h2{
  color: #1c57a7;
  font-family: TrajanProBold;
  font-size: 17px;
  font-weight: normal;
  line-height: 22px;
}