// Import external libraries.
@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
.html{
  background: url("../images/leftleave.jpg") no-repeat scroll left top,url("../images/rightleave.jpg") no-repeat right top;
  background-color: #EBE9E1;
}
body{

  a{
    color: #1c57a7;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
  }
}
h1 {
  color: #1c57a7;
  font-family: Trajan Pro Bold;
  font-size: 23px;
  margin-bottom: 0;
  font-weight: normal;
}
h2{
  color: #1c57a7;
  font-family: Trajan Pro Bold;
  font-size: 17px;
  font-weight: normal;
  line-height: 22px;
}
h3 {
  color: #1c57a7;
  font-family: Trajan Pro Bold;
  font-size: 17px;
  font-weight: normal;
  line-height: 22px;
}
@font-face {
  font-family:Trajan Pro Bold;
  src: url("../fonts/Trajan Bold.ttf");
}