.element-invisible,
.tabs--primary {
  display: none;
}
.page-wiki {
  .l-content {
    h1 {
      margin: 30px 0;
      background: url(../images/encyclopedia-right.jpg) no-repeat center bottom;
      background-size: 100% 10%;
      padding-bottom: 35px;
    }
  }
}
.page-wiki,
.node-type-wiki {
  .l-main {
    padding: 0 3% !important;
    text-align: left;
    .l-content {
      p {
        line-height: 22px;
      }
      width: 72%;
      float: right;
      h1:first-letter {
        font-size: 28px;
      }
      .encyclopedia-text {
        font-size: 15px;
        font-family: Arial;
        color: #8d8d8d;
        font-weight: 700;
        line-height: 28px;
      }
      .encyclopediacategories-center {
        width: 70%;
        float: left;
      }
      .encyclopediacategories-right {
        width: 29%;
        float: right;
        .ecr1,
        .ecrl-sources,
        .productname-left {
          background: #ededed;
          font-size: 12px;
          color: #000;
          margin: 20px 0 0;
          padding: 5px 0 0;
          border-top: solid 1px #FFF;
          p,
          .field {
            font-size: 12px;
            padding: 0 3% 7px;
            margin: 0;
          }
          ul {
            margin: 10px 0;
            list-style: disc;
            padding: 0 5px 0 12%;
            li {
              padding-bottom: 5px;
            }
          }
        }
        .productname-left {
          margin-top: 0!important;
          ul {
            padding-left: 3%;
          }
        }
      }
      .view-wiki {
        .view-filters {
          margin: 30px 0;
          .views-widget-filter-keys {
            width: 50%;
            padding: 0;
            label {
              float: none;
            }
            .views-widget {
              margin: 1% 1% 1% 0;
              .form-item {
                width: 91%;
                background: url(../images/keyword-txtbox.jpg) no-repeat left;
                padding: 5px;
                background-size: 100% 100%;
                input {
                  background: none repeat scroll 0 0 transparent;
                  border: medium none;
                  color: #666;
                  height: 26px;
                  width: 96%;
                  padding: 0;
                  margin: 0;
                }
              }
            }
            .form-type-textfield {
              display: table;
              width: auto;
            }
          }
          .views-submit-button {
            padding-top: 23px;
            .form-submit {
              margin: 0;
            }
          }
        }
        .view-content {
          margin-top: 20px;
          h3 {
            margin-bottom: 10px;
            color: #1c57a7;
            font-family: Trajan Pro Bold;
            font-size: 17px;
            font-weight: normal;
            line-height: 22px;
          }
          h3:first-letter {
            font-size: 20px;
          }
          ul {
            margin: 0;
            padding-left: 3%;
            li {
              list-style: none;
              line-height: 25px;
            }
          }
        }
      }
    }
    .l-region--sidebar-first {
      width: 25%;
      float: left;
      border-right: solid 1px #ededed;
      .block--views-wiki-categories-block,
      .block--menu-menu-encyclopedia-categories {
        li {
          color: #1c57a7;
        }
        .views-row {
          overflow: hidden;
        }
        margin: 25px 0 0;
        background: url(../images/encyclopediacategories-headingbg.png) no-repeat right top;
        background-size: 100% 10%;
        h2 {
          color: #116201;
          font-family: Trajan Pro Bold;
          text-transform: uppercase;
          letter-spacing: -1px;
          padding-left: 10%;
          font-size: 15px;
        }
        .view-wiki-categories {
          padding-top: 2px;
          .view-content {
            padding-left: 5%;
            .views-summary {
              font-size: 12px;
              line-height: 26px;
              list-style: none;
              padding-left: 5%;
              .views-field-name {
                float: left;
                margin-right: 10px;
              }
              .views-field-nid {
                color: #1C57A7;
              }
            }
          }
        }
        ul.menu {
          padding: 4% 0 0 7%;
          .expanded {
            .menu {
              padding: 3% 0 3% 1%;
            }
          }
          li {
            list-style-image: url(../images/arrow01.jpg)!important;
            padding-left: 10px;
            line-height: 25px;
            margin: 0;
            a {
              font-size: 15px;
            }
          }
          .expanded {
            list-style-image:  url(../images/menu-arrow.png)!important;
            a{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .page-wiki,
  .node-type-wiki {
    .form-type-textfield {
      width: 90% !important;
    }
    .views-widget-filter-keys {
      width: 100% !important;
      .form-type-textfield {
        width: 90% !important;
      }
    }
    .views-submit-button {
      padding-top: 5px!important;
      .form-submit {
        height: 36px!important;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .page-wiki,
  .node-type-wiki {
    .l-main {
      padding: 20px 2% !important;
      .view-filters {
        .form-type-textfield {
          input {
            font-size: 11px!important;
            height: 20px!important;
          }
        }
        .views-widget-filter-keys {
          width: 70% !important;
        }
        .form-submit {
          height: 33px!important;
        }
      }
    }
    .l-content,
    .l-region--sidebar-first {
      float: none!important;
      width: 98% !important;
      margin: 0 auto!important;
      h1 {
        font-size: 16px!important;
        a {
          font-size: 10px;
        }
      }
      h3 {
        font-size: 14px!important;
      }
      .block--views-wiki-categories-block,
      .block--menu-menu-encyclopedia-categories {
        background-size: 100% 10% !important;
        a {
          font-size: 14px!important;
        }
      }
      .encyclopediacategories-center,
      .encyclopediacategories-right {
        float: none!important;
        width: 98% !important;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .page-wiki,
  .node-type-wiki {
    .block--views-wiki-categories-block,
    .block--menu-menu-encyclopedia-categories {
      h2 {
        font-size: 13px!important;
      }
      .views-row,
      .menu li,
      .expanded li {
        line-height: 22px!important;

      }
    }
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .page-wiki,
  .node-type-wiki {
    .l-content {
      width: 69%!important;
    }
    .l-region--sidebar-first {
      width: 29%!important;
    }
    a {
      font-size: 11px!important;
    }
    .views-widget-filter-keys {
      width: 64% !important;
    }
  }
}