.page-user {
  .wc_blocks-friend_images,
  .block--user-relationship-blocks-my-1 {
    clear: both;
    .user-profile-item__label {
    display: none!important;
    }
  }
  .wc_blocks-friend_images,
  .main-user {
    overflow: hidden;
  }
  .recent-wiki {
    margin: 20px 26% 50px 0;
  }
  .recent-wiki {
    .views-row-odd {
      background: #f9f9f9 none repeat scroll 0 0;
      border-bottom: 1px solid #e1e1e1;
      border-top: 1px solid #e1e1e1;
      padding: 6px 5px;
    }
    .views-row-even {
      padding: 6px 5px;
    }
  }
}
.middleleftimg1 {
    clear: both;
    position: relative;
    span {
      background: transparent url(../images/emvideo-play.png) no-repeat scroll 0 0;
      display: block;
      height: 50%;
      left: 35%;
      position: absolute;
      bottom: 33%;
      width: 33%;
    }
  }
.page-wiki,
.node-type-wiki {
  .l-content {
    width: 72%;
    float: right;
    .middleleftimg1 {
      span {
        background-size: 205%;
      }
    }
  }
}
.page-taxonomy-term {
  .l-content {
    float: none;
    width: 100%;
    overflow: hidden;
  }
}
.page-wiki,
.node-type-wiki,
.page-taxonomy-term {
  .l-main {
    width: 94%;
    margin: 0 auto;
    text-align: left;
    .l-content {
      h1 {
        background: url(../images/encyclopedia-right.jpg) no-repeat center bottom;
        background-size: 100% 10%;
        padding-bottom: 10px;
      }
      p {
        line-height: 22px;
      }
      h1:first-letter {
        font-size: 28px;
      }
      .encyclopedia-text {
        font-size: 15px;
        font-family: Arial;
        color: #8d8d8d;
        font-weight: 700;
        line-height: 28px;
      }
      .encyclopediacategories-center {
        width: 70%;
        float: left;
      }
      .encyclopediacategories-right,.encyclopediacategories-right-mobile {
        width: 28%;
        float: right;
        .ecr1,
        .ecrl-sources
        /*.productname-left*/ {
          background: #ededed;
          font-size: 12px;
          color: #000;
          padding: 5px 0 0;
          border-top: solid 1px #FFF;
          p,
          .field {
            font-size: 12px;
            padding: 0 3% 7px;
            margin: 0;
          }
          ul {
            margin: 10px 0;
            list-style: disc;
            padding: 0 5px 0 12%;
            li {
              padding-bottom: 5px;
            }
          }
        }
        .productname-left {
          border-top: solid 1px #FFF;
          ul {
            padding-left: 3%;
          }
          .blogfpo {
            background: #ededed;
            font-size: 12px;
            color: #000;
            padding: 5px 0 0;
            border-top: solid 1px #FFF;
          }
        }
      }
      .view-wiki {
        .view-filters {
          margin: 30px 0;
          .views-widget-filter-keys {
            width: 50%;
            padding: 0;
            label {
              float: none;
            }
            .views-widget {
              margin: 1% 1% 1% 0;
              .form-item {
                width: 91%;
                background: url(../images/keyword-txtbox.jpg) no-repeat left;
                padding: 5px;
                background-size: 100% 100%;
                input {
                  background: none repeat scroll 0 0 transparent;
                  border: medium none;
                  color: #666;
                  height: 26px;
                  width: 96%;
                  padding: 0;
                  margin: 0;
                }
              }
            }
            .form-type-textfield {
              display: table;
              width: auto;
            }
          }
          .views-submit-button {
            padding-top: 23px;
            .form-submit {
              margin: 0;
            }
          }
        }
        .view-content {
          margin-top: 20px;
          h3 {
            margin-bottom: 10px;
            color: #1c57a7;
            font-family: Trajan Pro Bold;
            font-size: 17px;
            font-weight: normal;
            line-height: 22px;
          }
          h3:first-letter {
            font-size: 20px;
          }
          ul {
            margin: 0;
            padding-left: 3%;
            li {
              list-style: none;
              line-height: 25px;
            }
          }
        }
      }
      .view-taxonomy-term {
        width: 100%;
        float: left;
        height: auto;
        margin: 10px 0 0;
        padding: 15px 0 0;
        .field__label {
          font-weight: normal;
          display: none;
        }
        ul {
          padding-left: 0;
        }
        .views-row {
          list-style-type: none;
          overflow: hidden;
          margin-bottom: 20px;
        }
        h3 {
          font-size: 14px!important;
          font-family: Arial;
          text-transform: capitalize;
          color: #666;
        }
        .encyclopediacategories-center {
          p {
            margin: 3px 0!important;
          }
        }
      }
    }
    .l-region--sidebar-first {
      width: 25%;
      float: left;
      border-right: solid 1px #ededed;
      .block--views-wiki-categories-block,
      .block--menu-menu-encyclopedia-categories {
        li {
          color: #1c57a7;
        }
        .views-row {
          overflow: hidden;
        }
        margin: 25px 0 0;
        background: url(../images/encyclopediacategories-headingbg.png) no-repeat right top;
        background-size: 100% 10%;
        h2 {
          color: #116201;
          font-family: Trajan Pro Bold;
          text-transform: uppercase;
          letter-spacing: -1px;
          padding-left: 10%;
          font-size: 15px;
        }
        .view-wiki-categories {
          padding-top: 2px;
          .view-content {
            padding-left: 5%;
            .views-summary {
              font-size: 12px;
              line-height: 26px;
              list-style: none;
              padding-left: 5%;
              .views-field-name {
                float: left;
                margin-right: 10px;
              }
              .views-field-nid {
                color: #1C57A7;
              }
            }
          }
        }
        ul.menu {
          padding: 4% 0 0 7%;
          .expanded {
            .menu {
              padding: 3% 0 3% 1%;
            }
          }
          li {
            list-style-image: url(../images/arrow01.jpg)!important;
            padding-left: 10px;
            line-height: 25px;
            margin: 0;
            a {
              font-size: 15px;
            }
          }
          .expanded {
            list-style-image:  url(../images/menu-arrow.png)!important;
            a{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
.about-revision,
.article_messages {
  color: red;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.outline_node_messages,
.revision_node_messages {
  margin-top: 20px;
}
p,
.content {
  padding-bottom: 7px;
  line-height: 22px;
}
.tabs--primary,
.tabs--secondary {
  border: medium none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-bottom: 10px;
  li {
    float: left;
    width: 117px;
    height: 37px;
    text-align: center;
    background: url(../images/user-botm-bg.png) repeat-x left bottom;
    border: medium none;
    padding: 8px 10px 14px 0;
    margin: 0!important;
    a {
      font-size: 13px;
      font-family: Arial;
      color: #666;
      background: url(../images/user-tab.png) no-repeat left top;
      text-align: center;
      border: medium none;
      text-decoration: none;
      height: 45px;
      line-height: 45px;
      width: 124px;
      padding: 0;
      display: block;
    }
    a:hover {
      font-size: 13px;
      font-family: Arial;
      color: #116201;
      background: url(../images/user-tabhover.png) no-repeat left top;
      text-align: center;
      text-decoration: none;
      display: block;
      height: 45px;
      line-height: 45px;
      width: 124px;
      padding: 0;
    }
  }
  li.active {
    a {
      font-size: 13px;
      font-family: Arial;
      color: #116201!important;
      background: url(../images/user-tabhover.png) no-repeat left top!important;
      text-align: center;
      text-decoration: none;
      border: medium none;
      display: block;
      padding: 0;
      height: 45px;
      line-height: 45px;
      width: 124px;
    }
  }
}
.schoolname-r {
  p {
    font-size: 14px;
    color: #000;
    line-height: 31px;
  }
  .description-map-it > p {
    font-size: 12px;
    color: darkgray;
    line-height: 10px!important;
    margin: -5px 0 0 20px;
    font-style: normal;
  }
}
.node-type-article {
  .articletitle-leftp {
    .articalfpo {
      ul {
        overflow: hidden;
        li {
          list-style-type: none;
          float: left;
        }
      }
    }
  }
}
.logout_block {
  float: right;
  width: 20%;
  margin-top: -23px;
  color: #052756;
  font-size: 12px;
  a {
    text-decoration: none;
    color: #052756;
  }
}
.top_header,
.l-region--top-header {
  overflow: hidden;
}
.section-add-your-stuff {
  h1 {
    margin-bottom: 20px!important;
  }
  .node--page--full {
    p {
      margin: 0 30px;
      padding: 0;
      a {
        margin-left: -30px;
      }
    }
  }
}
.page-node-166 {
  .banner-top > div {
    overflow: hidden;
    box-sizing: border-box;
    width: 49%;
  }
  .banner-top {
    margin-bottom: 20px;
  }
  .banner-top-left {
    color: #8d8d8d;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: auto;
    line-height: 25px;
    padding: 15px 0 0;
    text-align: left;
  }
  .banner-top-right {
    background: transparent url(../images/bg01.jpg) repeat-x scroll left center;
    color: #052756;
    float: right;
    margin: 10px 0 0;
    padding: 15px 2%;
    .tocontribute {
      border-right: 1px solid #c4c4c4;
      color: #17335b;
      float: left;
      font-weight: 700;
      line-height: 20px;
      padding: 12px 0;
      width: 40%;
    }
    .loginbtn {
      background: #aeaeae none repeat scroll 0 0;
      border-radius: 3px;
      color: white;
      float: right;
      line-height: 37px;
      margin: 15px 1%;
      padding: 0 6%;
      text-decoration: none;
    }
    .register-link {
      background: #1C57A7;
      border: medium none;
      border-radius: 5px;
      color: #fff !important;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      float: left;
      font-size: 14px !important;
      height: 37px;
      line-height: 37px;
      margin: 15px 0 0 6%;
      text-align: center;
      width: 23%;
    }
  }
}
@media screen and (max-width: 320px) {
  .page-wiki,
  .node-type-wiki {
    .form-type-textfield {
      width: 90% !important;
    }
    .views-widget-filter-keys {
      width: 100% !important;
      .form-type-textfield {
        width: 90% !important;
      }
    }
    .views-submit-button {
      padding-top: 5px!important;
      .form-submit {
        height: 36px!important;
      }
    }
  }
  .page-taxonomy-term {
    .view-taxonomy-term {
      .encyclopediacategories-center,
      .encyclopediacategories-right {
        width: 100%!important;
        float: none!important;
      }
    }
    .pager {
      overflow: hidden;
      float: none;
      .pager__item {
        display: table;
        float: left;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .page-wiki,
  .node-type-wiki {
    .l-main {
      padding: 20px 2% !important;
      .view-filters {
        .form-type-textfield {
          input {
            font-size: 11px!important;
            height: 20px!important;
          }
        }
        .views-widget-filter-keys {
          width: 70% !important;
        }
        .form-submit {
          height: 33px!important;
        }
      }
    }
    .l-content,
    .l-region--sidebar-first {
      float: none!important;
      width: 98% !important;
      margin: 0 auto!important;
      h1 {
        font-size: 16px!important;
        a {
          font-size: 10px;
        }
      }
      h3 {
        font-size: 14px!important;
      }
      .block--views-wiki-categories-block,
      .block--menu-menu-encyclopedia-categories {
        background-size: 100% 10% !important;
        a {
          font-size: 14px!important;
        }
      }
    }
  }
  .page-taxonomy-term {
    .l-content {
      width: 100%;
      .view-taxonomy-term {
        .encyclopediacategories-center {
          div, p, ul, li, a {
            font-size: 12px;
            line-height: 15px;
          }
        }
        .encyclopediacategories-right {
          div, p, ul, li, a {
            font-size: 11px !important;
            line-height: 15px;
          }
        }
      }
    }
  }
  .page-node-166 {
    .register-link {
      width: 22%!important;
    }
    .loginbtn {

    }
  }
}
@media screen and (max-width: 768px) {
  .page-wiki,
  .node-type-wiki {
    .block--views-wiki-categories-block,
    .block--menu-menu-encyclopedia-categories {
      h2 {
        font-size: 13px!important;
      }
      .views-row,
      .menu li,
      .expanded li {
        line-height: 22px!important;
      }
    }
    .encyclopediacategories-center,
    .encyclopediacategories-right {
      float: none!important;
      width: 98% !important;
    }
  }
  .logout_block {
    float: none!important;
    margin: 10px auto!important;
    width: 150px!important;
  }
  .page-taxonomy-term-84 {
    .middleleftimg1 {
      span {
        background-size: 130%;
        background-position: -150% 70%;
        left: 30%;
        bottom: 40%;
      }
    }
  }
  .page-node-166 {
    .banner-top > div {
      width: 100%!important;
      float: none;
    }
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .page-wiki,
  .node-type-wiki {
    .l-content {
      width: 69%!important;
    }
    .l-region--sidebar-first {
      width: 29%!important;
    }
    a {
      font-size: 11px!important;
    }
    .views-widget-filter-keys {
      width: 64% !important;
    }
  }
  .page-node-166 {
    .register-link {
      width: 18%!important;
    }
  }
}
