/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/components/_main.scss */
body {
  background: url("../images/leftleave.jpg") no-repeat scroll left top, url("../images/rightleave.jpg") no-repeat right top;
  background-color: #EBE9E1;
  color: #666;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }
  /* line 9, ../sass/components/_main.scss */
  body .l-page {
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    overflow: hidden;
    width: 77%;
    max-width: 980px;
    margin: 0 auto; }
    /* line 17, ../sass/components/_main.scss */
    body .l-page .l-main {
      overflow: hidden;
      padding: 0 2%; }
  /* line 22, ../sass/components/_main.scss */
  body .has-sidebar-second .l-content {
    float: left;
    margin-right: 2%;
    width: 58%; }
  /* line 28, ../sass/components/_main.scss */
  body .has-sidebar-second .l-region--sidebar-second {
    width: 40%;
    float: left; }

/* line 34, ../sass/components/_main.scss */
.admin-sw .l-page {
  padding-top: 25px; }

/* line 38, ../sass/components/_main.scss */
#wrapper {
  padding: 20px 2%;
  overflow: hidden; }

/* line 43, ../sass/components/_main.scss */
.top_header #block-block-13 {
  width: 60%;
  margin: 0 auto; }
  /* line 46, ../sass/components/_main.scss */
  .top_header #block-block-13 ul {
    padding: 0;
    margin: 0; }
    /* line 49, ../sass/components/_main.scss */
    .top_header #block-block-13 ul li {
      float: left;
      margin: 0 -1px 0 0;
      list-style: none;
      width: 24%;
      text-align: center;
      border: solid 1px #e6e6e6;
      border-radius: 0 0 5px 5px; }
      /* line 57, ../sass/components/_main.scss */
      .top_header #block-block-13 ul li a {
        background: #f8f8f8;
        font-size: 12px;
        color: #666;
        display: block;
        text-decoration: none;
        padding: 10px 2%; }
      /* line 65, ../sass/components/_main.scss */
      .top_header #block-block-13 ul li a:hover {
        font-weight: 700;
        background: #d2d2d2; }
/* line 72, ../sass/components/_main.scss */
.top_header #block-block-12 {
  float: right;
  margin: 10px 20px 0 0; }
  /* line 75, ../sass/components/_main.scss */
  .top_header #block-block-12 ul {
    padding: 0;
    margin: 0; }
    /* line 78, ../sass/components/_main.scss */
    .top_header #block-block-12 ul li {
      float: left;
      list-style: none;
      margin-right: 5px; }
      /* line 82, ../sass/components/_main.scss */
      .top_header #block-block-12 ul li a {
        display: block;
        background-repeat: no-repeat;
        width: 35px;
        height: 33px;
        font-size: 0; }
      /* line 89, ../sass/components/_main.scss */
      .top_header #block-block-12 ul li .facebook {
        background: url("../images/fb-icon.jpg"); }
      /* line 92, ../sass/components/_main.scss */
      .top_header #block-block-12 ul li .twitter {
        background: url("../images/tw-icon.jpg"); }
      /* line 95, ../sass/components/_main.scss */
      .top_header #block-block-12 ul li .email {
        background: url("../images/email-icon.jpg"); }
  /* line 100, ../sass/components/_main.scss */
  .top_header #block-block-12 #links {
    clear: both;
    padding-top: 10px; }
    /* line 103, ../sass/components/_main.scss */
    .top_header #block-block-12 #links a {
      padding: 0 5px;
      color: #052756;
      font-size: 12px;
      text-decoration: none; }
    /* line 109, ../sass/components/_main.scss */
    .top_header #block-block-12 #links a:hover {
      text-decoration: underline; }
/* line 114, ../sass/components/_main.scss */
.top_header #block-block-15 {
  width: 100%; }
  /* line 116, ../sass/components/_main.scss */
  .top_header #block-block-15 p {
    margin: 0;
    line-height: 30px; }
  /* line 120, ../sass/components/_main.scss */
  .top_header #block-block-15 #leaderboard {
    background: #dedede none repeat scroll 0 0;
    color: #666;
    float: left;
    font-family: TrajanProBold;
    font-size: 11px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }

/* line 134, ../sass/components/_main.scss */
header .l-branding {
  float: left;
  overflow: hidden;
  margin-bottom: 20px; }
  /* line 138, ../sass/components/_main.scss */
  header .l-branding .site-logo {
    margin-left: 2%; }
  /* line 141, ../sass/components/_main.scss */
  header .l-branding .l-region--branding {
    width: 100%;
    position: relative;
    margin: 0; }
/* line 147, ../sass/components/_main.scss */
header .l-region--header {
  float: right;
  width: 75%; }
/* line 151, ../sass/components/_main.scss */
header #links {
  display: none; }
/* line 154, ../sass/components/_main.scss */
header #block-block-8 {
  float: left; }
/* line 157, ../sass/components/_main.scss */
header #block-block-11 {
  display: none; }
/* line 160, ../sass/components/_main.scss */
header #block-search-form {
  height: 28px;
  padding: 5px 10px 0 10px;
  background: #d2d2d2;
  float: right;
  margin-top: 55px; }
  /* line 167, ../sass/components/_main.scss */
  header #block-search-form #search-block-form .container-inline {
    border-radius: 0;
    background: none;
    box-shadow: none;
    padding: 0; }
  /* line 173, ../sass/components/_main.scss */
  header #block-search-form #search-block-form .form-text {
    background: #fff;
    border: medium none;
    font-size: 11px;
    height: 20px;
    padding: 0 6px;
    width: 161px;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5) inset; }
  /* line 183, ../sass/components/_main.scss */
  header #block-search-form #search-block-form #edit-submit {
    background: transparent url("../images/searchicon.jpg") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    height: 23px;
    width: 18px;
    font-size: 0; }
  /* line 193, ../sass/components/_main.scss */
  header #block-search-form #search-block-form .form-item-search-block-form:before {
    content: "Search:";
    color: #666;
    font-size: 12px;
    font-weight: 700; }

/* line 202, ../sass/components/_main.scss */
#block-system-main-menu {
  background: #17335b;
  clear: both;
  overflow: hidden; }
  /* line 206, ../sass/components/_main.scss */
  #block-system-main-menu ul {
    padding: 0;
    margin: 0;
    width: 100%; }
    /* line 210, ../sass/components/_main.scss */
    #block-system-main-menu ul li {
      list-style: none;
      float: left; }
      /* line 213, ../sass/components/_main.scss */
      #block-system-main-menu ul li a {
        color: #fff;
        display: block;
        line-height: 44px;
        padding: 0 15px;
        text-decoration: none; }
      /* line 220, ../sass/components/_main.scss */
      #block-system-main-menu ul li a.active {
        background: #1c57a7; }

/* line 227, ../sass/components/_main.scss */
.above_content {
  overflow: hidden; }

/* line 231, ../sass/components/_main.scss */
#block-block-10 h1 {
  color: #1c57a7;
  font-family: "Trajan Pro Bold";
  font-size: 23px;
  font-weight: normal;
  text-transform: uppercase; }
  /* line 237, ../sass/components/_main.scss */
  #block-block-10 h1 span {
    color: #116201; }
/* line 241, ../sass/components/_main.scss */
#block-block-10 .banner-top {
  margin-bottom: 20px; }
/* line 245, ../sass/components/_main.scss */
#block-block-10 .banner-top > div {
  box-sizing: border-box;
  width: 50%; }
/* line 249, ../sass/components/_main.scss */
#block-block-10 .banner-top-left {
  color: #8d8d8d;
  float: left;
  font-size: 15px;
  font-weight: 700;
  height: auto;
  line-height: 25px;
  padding: 15px 0 0;
  text-align: left; }
/* line 259, ../sass/components/_main.scss */
#block-block-10 .banner-top-right {
  background: transparent url("../images/bg01.jpg") repeat-x scroll left center;
  color: #052756;
  float: right;
  height: 68px;
  margin: 10px 0 0;
  padding: 15px 20px; }
  /* line 266, ../sass/components/_main.scss */
  #block-block-10 .banner-top-right .usrname {
    float: left; }
/* line 270, ../sass/components/_main.scss */
#block-block-10 .loginbtn {
  background: #aeaeae none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  float: right;
  line-height: 37px;
  margin: 0 8px;
  padding: 0 25px;
  text-decoration: none; }
/* line 282, ../sass/components/_main.scss */
#block-block-10 .browse-table h2 {
  color: #116201;
  font-family: "Trajan Pro Bold";
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase; }
/* line 290, ../sass/components/_main.scss */
#block-block-10 .browse-table p {
  color: #1c57a7;
  font-size: 16px;
  font-weight: 700; }
/* line 295, ../sass/components/_main.scss */
#block-block-10 .browse-table .browsetable-box {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 10px;
  text-align: center; }
  /* line 303, ../sass/components/_main.scss */
  #block-block-10 .browse-table .browsetable-box p.browse-heading {
    color: #434242;
    font-family: "Trajan Pro";
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 22px;
    margin: 0;
    padding-bottom: 7px;
    text-align: center;
    text-transform: uppercase; }
  /* line 314, ../sass/components/_main.scss */
  #block-block-10 .browse-table .browsetable-box div {
    display: inline;
    margin: 16px;
    text-align: center; }
    /* line 318, ../sass/components/_main.scss */
    #block-block-10 .browse-table .browsetable-box div a {
      text-decoration: underline; }

/* line 325, ../sass/components/_main.scss */
#block-views-sifu-block-2, #block-views-local-resources-block-1 {
  clear: both;
  padding-bottom: 30px;
  position: relative; }
  /* line 329, ../sass/components/_main.scss */
  #block-views-sifu-block-2 .block__title, #block-views-local-resources-block-1 .block__title {
    background: transparent url("../images/thelatest-left-topbg.jpg") no-repeat scroll left top;
    background-size: 100% 100%;
    color: #1c57a7;
    font-family: TrajanProBold;
    font-size: 17px;
    font-weight: normal;
    height: 44px;
    letter-spacing: -1px;
    padding: 5px 0 0 14px;
    text-transform: uppercase; }
  /* line 341, ../sass/components/_main.scss */
  #block-views-sifu-block-2 table, #block-views-local-resources-block-1 table {
    width: 100%;
    margin: 0 auto; }
  /* line 345, ../sass/components/_main.scss */
  #block-views-sifu-block-2 thead, #block-views-local-resources-block-1 thead {
    background: #f8f8f8 none repeat scroll 0 0;
    line-height: 40px; }
    /* line 348, ../sass/components/_main.scss */
    #block-views-sifu-block-2 thead th, #block-views-local-resources-block-1 thead th {
      padding: 0 10px; }
  /* line 353, ../sass/components/_main.scss */
  #block-views-sifu-block-2 tr td, #block-views-local-resources-block-1 tr td {
    padding-left: 10px; }
    /* line 355, ../sass/components/_main.scss */
    #block-views-sifu-block-2 tr td a, #block-views-local-resources-block-1 tr td a {
      color: #1c57a7;
      font-family: Arial;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px !important;
      text-decoration: underline; }
  /* line 365, ../sass/components/_main.scss */
  #block-views-sifu-block-2 .odd, #block-views-local-resources-block-1 .odd {
    background: #ededed none repeat scroll 0 0;
    height: 44px; }
  /* line 369, ../sass/components/_main.scss */
  #block-views-sifu-block-2 .even, #block-views-local-resources-block-1 .even {
    background: #f8f8f8 none repeat scroll 0 0;
    height: 44px; }

/* line 376, ../sass/components/_main.scss */
.l-region--sidebar-second #block-quicktabs-the-latest h2 {
  color: #1c57a7;
  font-family: TrajanProBold;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 8px;
  text-transform: uppercase; }
  /* line 384, ../sass/components/_main.scss */
  .l-region--sidebar-second #block-quicktabs-the-latest h2 span {
    color: #116201 !important;
    font-family: TrajanProBold;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: -1px; }
/* line 392, ../sass/components/_main.scss */
.l-region--sidebar-second #block-quicktabs-the-latest li {
  border: medium none !important;
  color: #666;
  float: left;
  font-family: Arial !important;
  font-size: 12px !important;
  height: 50px !important;
  line-height: 19px;
  margin: 0 1% 0 0 !important;
  padding: 0 !important;
  text-align: center;
  white-space: normal;
  width: 24%; }
  /* line 405, ../sass/components/_main.scss */
  .l-region--sidebar-second #block-quicktabs-the-latest li a {
    background: transparent url("../images/tab-bg.png") repeat-x left top;
    color: #666;
    display: block;
    border: none;
    font-family: Arial !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 50px !important;
    overflow-wrap: normal;
    text-align: center;
    height: 50px !important;
    line-height: 50px !important;
    width: 100%;
    padding: 0;
    text-decoration: none; }
  /* line 422, ../sass/components/_main.scss */
  .l-region--sidebar-second #block-quicktabs-the-latest li a:hover {
    background: #f8f8f8; }
/* line 426, ../sass/components/_main.scss */
.l-region--sidebar-second #block-quicktabs-the-latest li:last-child {
  margin: 0 !important;
  width: 25%; }
/* line 430, ../sass/components/_main.scss */
.l-region--sidebar-second #block-quicktabs-the-latest li.active a {
  background: #F8F8F8;
  color: #116201 !important; }
/* line 434, ../sass/components/_main.scss */
.l-region--sidebar-second #block-quicktabs-the-latest #quicktabs-container-the_latest {
  background: #F8F8F8;
  padding: 20px 0 2% 15px; }
/* line 438, ../sass/components/_main.scss */
.l-region--sidebar-second #block-quicktabs-the-latest .view-content {
  color: #666;
  font-family: Arial;
  font-size: 12px;
  line-height: 19px; }
  /* line 443, ../sass/components/_main.scss */
  .l-region--sidebar-second #block-quicktabs-the-latest .view-content .views-field-field-sifu {
    float: left; }
    /* line 445, ../sass/components/_main.scss */
    .l-region--sidebar-second #block-quicktabs-the-latest .view-content .views-field-field-sifu .views-label {
      float: left;
      margin-right: 5px; }
    /* line 449, ../sass/components/_main.scss */
    .l-region--sidebar-second #block-quicktabs-the-latest .view-content .views-field-field-sifu .field-content {
      float: left; }
  /* line 453, ../sass/components/_main.scss */
  .l-region--sidebar-second #block-quicktabs-the-latest .view-content .views-field-created {
    float: left;
    margin-left: 5px; }
  /* line 457, ../sass/components/_main.scss */
  .l-region--sidebar-second #block-quicktabs-the-latest .view-content a {
    color: #1c57a7;
    font-family: Arial;
    font-size: 12px;
    text-decoration: underline; }
  /* line 463, ../sass/components/_main.scss */
  .l-region--sidebar-second #block-quicktabs-the-latest .view-content .views-row {
    padding-bottom: 12px;
    overflow: hidden; }

/* line 470, ../sass/components/_main.scss */
.under_content {
  clear: both;
  padding: 20px 2%; }
  /* line 473, ../sass/components/_main.scss */
  .under_content #block-views-videos-block-2 {
    background: url("../images/videobg.jpg") repeat-y center center;
    background-size: cover; }
    /* line 476, ../sass/components/_main.scss */
    .under_content #block-views-videos-block-2 .views-row {
      float: left;
      width: 23%;
      margin-right: 2%;
      text-align: center; }
      /* line 481, ../sass/components/_main.scss */
      .under_content #block-views-videos-block-2 .views-row .views-field-title {
        text-align: center; }
        /* line 483, ../sass/components/_main.scss */
        .under_content #block-views-videos-block-2 .views-row .views-field-title a {
          color: #1c57a7;
          font-family: Arial;
          font-size: 12px;
          font-weight: 400; }

/* line 493, ../sass/components/_main.scss */
footer {
  clear: both;
  width: 100%;
  background: #414348 none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 13px;
  height: 155px;
  padding: 20px 0 0; }
  /* line 502, ../sass/components/_main.scss */
  footer #block-menu-menu-footer-links {
    overflow: hidden;
    width: 630px;
    margin: 0 auto; }
  /* line 507, ../sass/components/_main.scss */
  footer ul {
    margin: 0;
    padding: 0; }
    /* line 510, ../sass/components/_main.scss */
    footer ul li {
      list-style: none;
      list-style-image: none;
      float: left; }
      /* line 514, ../sass/components/_main.scss */
      footer ul li a {
        border-left: 1px solid #fff;
        color: #fff;
        display: inline;
        font-size: 13px;
        letter-spacing: -1px;
        padding: 0 6px;
        text-decoration: none; }
      /* line 523, ../sass/components/_main.scss */
      footer ul li .active {
        color: #fff; }
    /* line 528, ../sass/components/_main.scss */
    footer ul li.first a {
      border: none; }
  /* line 533, ../sass/components/_main.scss */
  footer #block-block-14 {
    text-align: center; }

@media screen and (max-width: 768px) {
  /* line 2, ../sass/components/_mobile.scss */
  body {
    background: #ebe9e1 !important; }
    /* line 4, ../sass/components/_mobile.scss */
    body .l-page {
      width: 100%;
      border: none; }
    /* line 9, ../sass/components/_mobile.scss */
    body .has-sidebar-second .l-content, body .has-sidebar-second .l-region--sidebar-second {
      margin: 0;
      width: 100%;
      float: none; }

  /* line 17, ../sass/components/_mobile.scss */
  .top_header #block-block-13 {
    margin: 0 auto;
    width: 95%; }
    /* line 21, ../sass/components/_mobile.scss */
    .top_header #block-block-13 ul li {
      width: 49%;
      margin-bottom: 10px; }
  /* line 27, ../sass/components/_mobile.scss */
  .top_header #block-block-12 {
    float: none;
    width: 125px;
    margin: 0 auto; }

  /* line 34, ../sass/components/_mobile.scss */
  header .l-branding {
    float: none; }
    /* line 36, ../sass/components/_mobile.scss */
    header .l-branding .site-logo {
      width: 205px;
      margin: 10px auto;
      display: block; }
      /* line 40, ../sass/components/_mobile.scss */
      header .l-branding .site-logo img {
        width: 100%;
        height: auto; }
  /* line 50, ../sass/components/_mobile.scss */
  header .l-region--header {
    float: none;
    width: 100%; }
  /* line 54, ../sass/components/_mobile.scss */
  header #block-block-11 {
    float: right;
    margin-right: 20px;
    display: block; }
    /* line 58, ../sass/components/_mobile.scss */
    header #block-block-11 button {
      background: #17335b;
      border: none;
      color: #ffffff;
      text-transform: uppercase;
      padding: 10px; }
  /* line 66, ../sass/components/_mobile.scss */
  header #block-block-8 {
    text-align: center;
    clear: both;
    float: none; }
  /* line 71, ../sass/components/_mobile.scss */
  header #block-search-form {
    width: 260px;
    float: none;
    margin: 0 auto 20px;
    clear: both; }

  /* line 78, ../sass/components/_mobile.scss */
  #block-system-main-menu {
    display: none; }

  /* line 82, ../sass/components/_mobile.scss */
  .active_menu #block-system-main-menu {
    display: block;
    width: 100%; }
    /* line 85, ../sass/components/_mobile.scss */
    .active_menu #block-system-main-menu li {
      float: none;
      width: 100%; }

  /* line 92, ../sass/components/_mobile.scss */
  #block-block-10 .banner-top-left, #block-block-10 .banner-top-right {
    float: none;
    width: 100%;
    clear: both;
    overflow: hidden; }
  /* line 99, ../sass/components/_mobile.scss */
  #block-block-10 .browse-table .browsetable-box {
    width: 50%; }
    /* line 101, ../sass/components/_mobile.scss */
    #block-block-10 .browse-table .browsetable-box p.browse-heading {
      font-size: 18px; }
  /* line 106, ../sass/components/_mobile.scss */
  #block-block-10 .banner-top > div {
    width: 100% !important; }
  /* line 112, ../sass/components/_mobile.scss */
  #block-block-10 .l-region--sidebar-second #block-quicktabs-the-latest h2 {
    text-align: center; }
  /* line 116, ../sass/components/_mobile.scss */
  #block-block-10 .l-region--sidebar-second #block-quicktabs-the-latest li a {
    font-size: 11px; }

  /* line 126, ../sass/components/_mobile.scss */
  .under_content #block-views-videos-block-2 .views-row {
    float: none;
    width: 90%;
    margin: 0 auto 20px; }

  /* line 133, ../sass/components/_mobile.scss */
  .l-footer {
    overflow: hidden;
    height: auto;
    padding: 10px 0; }
    /* line 137, ../sass/components/_mobile.scss */
    .l-footer #block-menu-menu-footer-links {
      width: 90%; }
      /* line 140, ../sass/components/_mobile.scss */
      .l-footer #block-menu-menu-footer-links ul li {
        float: none;
        text-align: center;
        list-style-image: none;
        list-style-type: none;
        margin-bottom: 5px; }
        /* line 146, ../sass/components/_mobile.scss */
        .l-footer #block-menu-menu-footer-links ul li a {
          border: none; } }
@media screen and (max-width: 960px) {
  /* line 157, ../sass/components/_mobile.scss */
  body .l-page {
    width: 100% !important;
    border: none; }
    /* line 160, ../sass/components/_mobile.scss */
    body .l-page .l-main {
      width: 96%;
      background: #ebe9e1; }
    /* line 165, ../sass/components/_mobile.scss */
    body .l-page .l-region--sidebar-second #block-quicktabs-the-latest li a {
      font-size: 11px !important; }

  /* line 173, ../sass/components/_mobile.scss */
  #block-block-10 .banner-top > div {
    box-sizing: border-box;
    width: 49%; } }
@media screen and (min-width: 769px) and (max-width: 1180px) {
  /* line 181, ../sass/components/_mobile.scss */
  body {
    background-size: 50% auto; }

  /* line 185, ../sass/components/_mobile.scss */
  .top_header #block-block-13 {
    margin: 0;
    width: 80%; }

  /* line 191, ../sass/components/_mobile.scss */
  header .l-branding {
    float: none;
    width: 205px;
    margin: 0 auto 20px;
    overflow: hidden;
    clear: both; }
  /* line 198, ../sass/components/_mobile.scss */
  header .l-region--header {
    float: none;
    width: 100%; }

  /* line 206, ../sass/components/_mobile.scss */
  #block-system-main-menu ul li a {
    padding: 0 10px;
    font-size: 12px; } }
@media screen and (max-width: 1180px) {
  /* line 215, ../sass/components/_mobile.scss */
  body .l-page {
    width: 90%; } }
/* line 24, ../sass/ewingchun.styles.scss */
body {
  background: #ebe9e1 url(../images/leftleave.jpg) left top no-repeat, url(../images/rightleave.jpg) right top no-repeat; }

/*# sourceMappingURL=ewingchun.styles.css.map */
