/* line 2, ../sass/ewingchun.misc.scss */
.page-user .wc_blocks-friend_images,
.page-user .block--user-relationship-blocks-my-1 {
  clear: both; }
  /* line 5, ../sass/ewingchun.misc.scss */
  .page-user .wc_blocks-friend_images .user-profile-item__label,
  .page-user .block--user-relationship-blocks-my-1 .user-profile-item__label {
    display: none !important; }
/* line 9, ../sass/ewingchun.misc.scss */
.page-user .wc_blocks-friend_images,
.page-user .main-user {
  overflow: hidden; }
/* line 13, ../sass/ewingchun.misc.scss */
.page-user .recent-wiki {
  margin: 20px 26% 50px 0; }
/* line 17, ../sass/ewingchun.misc.scss */
.page-user .recent-wiki .views-row-odd {
  background: #f9f9f9 none repeat scroll 0 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  padding: 6px 5px; }
/* line 23, ../sass/ewingchun.misc.scss */
.page-user .recent-wiki .views-row-even {
  padding: 6px 5px; }

/* line 28, ../sass/ewingchun.misc.scss */
.middleleftimg1 {
  clear: both;
  position: relative; }
  /* line 31, ../sass/ewingchun.misc.scss */
  .middleleftimg1 span {
    background: transparent url(../images/emvideo-play.png) no-repeat scroll 0 0;
    display: block;
    height: 50%;
    left: 35%;
    position: absolute;
    bottom: 33%;
    width: 33%; }

/* line 43, ../sass/ewingchun.misc.scss */
.page-wiki .l-content,
.node-type-wiki .l-content {
  width: 72%;
  float: right; }
  /* line 47, ../sass/ewingchun.misc.scss */
  .page-wiki .l-content .middleleftimg1 span,
  .node-type-wiki .l-content .middleleftimg1 span {
    background-size: 205%; }

/* line 54, ../sass/ewingchun.misc.scss */
.page-taxonomy-term .l-content {
  float: none;
  width: 100%;
  overflow: hidden; }

/* line 63, ../sass/ewingchun.misc.scss */
.page-wiki .l-main,
.node-type-wiki .l-main,
.page-taxonomy-term .l-main {
  width: 94%;
  margin: 0 auto;
  text-align: left; }
  /* line 68, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-content h1,
  .node-type-wiki .l-main .l-content h1,
  .page-taxonomy-term .l-main .l-content h1 {
    background: url(../images/encyclopedia-right.jpg) no-repeat center bottom;
    background-size: 100% 10%;
    padding-bottom: 10px; }
  /* line 73, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-content p,
  .node-type-wiki .l-main .l-content p,
  .page-taxonomy-term .l-main .l-content p {
    line-height: 22px; }
  /* line 76, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-content h1:first-letter,
  .node-type-wiki .l-main .l-content h1:first-letter,
  .page-taxonomy-term .l-main .l-content h1:first-letter {
    font-size: 28px; }
  /* line 79, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-content .encyclopedia-text,
  .node-type-wiki .l-main .l-content .encyclopedia-text,
  .page-taxonomy-term .l-main .l-content .encyclopedia-text {
    font-size: 15px;
    font-family: Arial;
    color: #8d8d8d;
    font-weight: 700;
    line-height: 28px; }
  /* line 86, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-content .encyclopediacategories-center,
  .node-type-wiki .l-main .l-content .encyclopediacategories-center,
  .page-taxonomy-term .l-main .l-content .encyclopediacategories-center {
    width: 70%;
    float: left; }
  /* line 90, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-content .encyclopediacategories-right,
  .node-type-wiki .l-main .l-content .encyclopediacategories-right,
  .page-taxonomy-term .l-main .l-content .encyclopediacategories-right {
    width: 28%;
    float: right; }
    /* line 93, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .encyclopediacategories-right .ecr1,
    .page-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
    ,
    .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecr1,
    .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
    ,
    .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecr1,
    .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecrl-sources
     {
      background: #ededed;
      font-size: 12px;
      color: #000;
      padding: 5px 0 0;
      border-top: solid 1px #FFF; }
      /* line 101, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-content .encyclopediacategories-right .ecr1 p,
      .page-wiki .l-main .l-content .encyclopediacategories-right .ecr1 .field,
      .page-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
      p,
      .page-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
      .field,
      .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecr1 p,
      .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecr1 .field,
      .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
      p,
      .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
      .field,
      .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecr1 p,
      .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecr1 .field,
      .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecrl-sources
      p,
      .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecrl-sources
      .field {
        font-size: 12px;
        padding: 0 3% 7px;
        margin: 0; }
      /* line 107, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-content .encyclopediacategories-right .ecr1 ul,
      .page-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
      ul,
      .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecr1 ul,
      .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
      ul,
      .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecr1 ul,
      .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecrl-sources
      ul {
        margin: 10px 0;
        list-style: disc;
        padding: 0 5px 0 12%; }
        /* line 111, ../sass/ewingchun.misc.scss */
        .page-wiki .l-main .l-content .encyclopediacategories-right .ecr1 ul li,
        .page-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
        ul li,
        .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecr1 ul li,
        .node-type-wiki .l-main .l-content .encyclopediacategories-right .ecrl-sources
        ul li,
        .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecr1 ul li,
        .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .ecrl-sources
        ul li {
          padding-bottom: 5px; }
    /* line 116, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .encyclopediacategories-right .productname-left,
    .node-type-wiki .l-main .l-content .encyclopediacategories-right .productname-left,
    .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .productname-left {
      border-top: solid 1px #FFF; }
      /* line 118, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-content .encyclopediacategories-right .productname-left ul,
      .node-type-wiki .l-main .l-content .encyclopediacategories-right .productname-left ul,
      .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .productname-left ul {
        padding-left: 3%; }
      /* line 121, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-content .encyclopediacategories-right .productname-left .blogfpo,
      .node-type-wiki .l-main .l-content .encyclopediacategories-right .productname-left .blogfpo,
      .page-taxonomy-term .l-main .l-content .encyclopediacategories-right .productname-left .blogfpo {
        background: #ededed;
        font-size: 12px;
        color: #000;
        padding: 5px 0 0;
        border-top: solid 1px #FFF; }
  /* line 131, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-content .view-wiki .view-filters,
  .node-type-wiki .l-main .l-content .view-wiki .view-filters,
  .page-taxonomy-term .l-main .l-content .view-wiki .view-filters {
    margin: 30px 0; }
    /* line 133, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys,
    .node-type-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys,
    .page-taxonomy-term .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys {
      width: 50%;
      padding: 0; }
      /* line 136, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys label,
      .node-type-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys label,
      .page-taxonomy-term .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys label {
        float: none; }
      /* line 139, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .views-widget,
      .node-type-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .views-widget,
      .page-taxonomy-term .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .views-widget {
        margin: 1% 1% 1% 0; }
        /* line 141, ../sass/ewingchun.misc.scss */
        .page-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .views-widget .form-item,
        .node-type-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .views-widget .form-item,
        .page-taxonomy-term .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .views-widget .form-item {
          width: 91%;
          background: url(../images/keyword-txtbox.jpg) no-repeat left;
          padding: 5px;
          background-size: 100% 100%; }
          /* line 146, ../sass/ewingchun.misc.scss */
          .page-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .views-widget .form-item input,
          .node-type-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .views-widget .form-item input,
          .page-taxonomy-term .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .views-widget .form-item input {
            background: none repeat scroll 0 0 transparent;
            border: medium none;
            color: #666;
            height: 26px;
            width: 96%;
            padding: 0;
            margin: 0; }
      /* line 157, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .form-type-textfield,
      .node-type-wiki .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .form-type-textfield,
      .page-taxonomy-term .l-main .l-content .view-wiki .view-filters .views-widget-filter-keys .form-type-textfield {
        display: table;
        width: auto; }
    /* line 162, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-wiki .view-filters .views-submit-button,
    .node-type-wiki .l-main .l-content .view-wiki .view-filters .views-submit-button,
    .page-taxonomy-term .l-main .l-content .view-wiki .view-filters .views-submit-button {
      padding-top: 23px; }
      /* line 164, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-content .view-wiki .view-filters .views-submit-button .form-submit,
      .node-type-wiki .l-main .l-content .view-wiki .view-filters .views-submit-button .form-submit,
      .page-taxonomy-term .l-main .l-content .view-wiki .view-filters .views-submit-button .form-submit {
        margin: 0; }
  /* line 169, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-content .view-wiki .view-content,
  .node-type-wiki .l-main .l-content .view-wiki .view-content,
  .page-taxonomy-term .l-main .l-content .view-wiki .view-content {
    margin-top: 20px; }
    /* line 171, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-wiki .view-content h3,
    .node-type-wiki .l-main .l-content .view-wiki .view-content h3,
    .page-taxonomy-term .l-main .l-content .view-wiki .view-content h3 {
      margin-bottom: 10px;
      color: #1c57a7;
      font-family: Trajan Pro Bold;
      font-size: 17px;
      font-weight: normal;
      line-height: 22px; }
    /* line 179, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-wiki .view-content h3:first-letter,
    .node-type-wiki .l-main .l-content .view-wiki .view-content h3:first-letter,
    .page-taxonomy-term .l-main .l-content .view-wiki .view-content h3:first-letter {
      font-size: 20px; }
    /* line 182, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-wiki .view-content ul,
    .node-type-wiki .l-main .l-content .view-wiki .view-content ul,
    .page-taxonomy-term .l-main .l-content .view-wiki .view-content ul {
      margin: 0;
      padding-left: 3%; }
      /* line 185, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-content .view-wiki .view-content ul li,
      .node-type-wiki .l-main .l-content .view-wiki .view-content ul li,
      .page-taxonomy-term .l-main .l-content .view-wiki .view-content ul li {
        list-style: none;
        line-height: 25px; }
  /* line 192, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-content .view-taxonomy-term,
  .node-type-wiki .l-main .l-content .view-taxonomy-term,
  .page-taxonomy-term .l-main .l-content .view-taxonomy-term {
    width: 100%;
    float: left;
    height: auto;
    margin: 10px 0 0;
    padding: 15px 0 0; }
    /* line 198, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-taxonomy-term .field__label,
    .node-type-wiki .l-main .l-content .view-taxonomy-term .field__label,
    .page-taxonomy-term .l-main .l-content .view-taxonomy-term .field__label {
      font-weight: normal;
      display: none; }
    /* line 202, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-taxonomy-term ul,
    .node-type-wiki .l-main .l-content .view-taxonomy-term ul,
    .page-taxonomy-term .l-main .l-content .view-taxonomy-term ul {
      padding-left: 0; }
    /* line 205, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-taxonomy-term .views-row,
    .node-type-wiki .l-main .l-content .view-taxonomy-term .views-row,
    .page-taxonomy-term .l-main .l-content .view-taxonomy-term .views-row {
      list-style-type: none;
      overflow: hidden;
      margin-bottom: 20px; }
    /* line 210, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-taxonomy-term h3,
    .node-type-wiki .l-main .l-content .view-taxonomy-term h3,
    .page-taxonomy-term .l-main .l-content .view-taxonomy-term h3 {
      font-size: 14px !important;
      font-family: Arial;
      text-transform: capitalize;
      color: #666; }
    /* line 217, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-content .view-taxonomy-term .encyclopediacategories-center p,
    .node-type-wiki .l-main .l-content .view-taxonomy-term .encyclopediacategories-center p,
    .page-taxonomy-term .l-main .l-content .view-taxonomy-term .encyclopediacategories-center p {
      margin: 3px 0 !important; }
  /* line 223, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main .l-region--sidebar-first,
  .node-type-wiki .l-main .l-region--sidebar-first,
  .page-taxonomy-term .l-main .l-region--sidebar-first {
    width: 25%;
    float: left;
    border-right: solid 1px #ededed; }
    /* line 227, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block,
    .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories,
    .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block,
    .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories,
    .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block,
    .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories {
      margin: 25px 0 0;
      background: url(../images/encyclopediacategories-headingbg.png) no-repeat right top;
      background-size: 100% 10%; }
      /* line 229, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block li,
      .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories li,
      .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block li,
      .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories li,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block li,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories li {
        color: #1c57a7; }
      /* line 232, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .views-row,
      .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .views-row,
      .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .views-row,
      .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .views-row,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block .views-row,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .views-row {
        overflow: hidden; }
      /* line 238, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block h2,
      .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories h2,
      .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block h2,
      .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories h2,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block h2,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories h2 {
        color: #116201;
        font-family: Trajan Pro Bold;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-left: 10%;
        font-size: 15px; }
      /* line 246, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories,
      .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories,
      .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories,
      .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories {
        padding-top: 2px; }
        /* line 248, ../sass/ewingchun.misc.scss */
        .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content,
        .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content,
        .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content,
        .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content,
        .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content,
        .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content {
          padding-left: 5%; }
          /* line 250, ../sass/ewingchun.misc.scss */
          .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content .views-summary,
          .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content .views-summary,
          .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content .views-summary,
          .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content .views-summary,
          .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content .views-summary,
          .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content .views-summary {
            font-size: 12px;
            line-height: 26px;
            list-style: none;
            padding-left: 5%; }
            /* line 255, ../sass/ewingchun.misc.scss */
            .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content .views-summary .views-field-name,
            .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content .views-summary .views-field-name,
            .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content .views-summary .views-field-name,
            .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content .views-summary .views-field-name,
            .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content .views-summary .views-field-name,
            .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content .views-summary .views-field-name {
              float: left;
              margin-right: 10px; }
            /* line 259, ../sass/ewingchun.misc.scss */
            .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content .views-summary .views-field-nid,
            .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content .views-summary .views-field-nid,
            .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content .views-summary .views-field-nid,
            .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content .views-summary .views-field-nid,
            .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block .view-wiki-categories .view-content .views-summary .views-field-nid,
            .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories .view-wiki-categories .view-content .views-summary .views-field-nid {
              color: #1C57A7; }
      /* line 265, ../sass/ewingchun.misc.scss */
      .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu,
      .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu,
      .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu,
      .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu,
      .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu {
        padding: 4% 0 0 7%; }
        /* line 268, ../sass/ewingchun.misc.scss */
        .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu .expanded .menu,
        .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu .expanded .menu,
        .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu .expanded .menu,
        .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu .expanded .menu,
        .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu .expanded .menu,
        .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu .expanded .menu {
          padding: 3% 0 3% 1%; }
        /* line 272, ../sass/ewingchun.misc.scss */
        .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu li,
        .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu li,
        .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu li,
        .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu li,
        .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu li,
        .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu li {
          list-style-image: url(../images/arrow01.jpg) !important;
          padding-left: 10px;
          line-height: 25px;
          margin: 0; }
          /* line 277, ../sass/ewingchun.misc.scss */
          .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu li a,
          .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu li a,
          .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu li a,
          .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu li a,
          .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu li a,
          .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu li a {
            font-size: 15px; }
        /* line 281, ../sass/ewingchun.misc.scss */
        .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu .expanded,
        .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu .expanded,
        .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu .expanded,
        .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu .expanded,
        .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu .expanded,
        .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu .expanded {
          list-style-image: url(../images/menu-arrow.png) !important; }
          /* line 283, ../sass/ewingchun.misc.scss */
          .page-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu .expanded a,
          .page-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu .expanded a,
          .node-type-wiki .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu .expanded a,
          .node-type-wiki .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu .expanded a,
          .page-taxonomy-term .l-main .l-region--sidebar-first .block--views-wiki-categories-block ul.menu .expanded a,
          .page-taxonomy-term .l-main .l-region--sidebar-first .block--menu-menu-encyclopedia-categories ul.menu .expanded a {
            font-size: 14px; }

/* line 292, ../sass/ewingchun.misc.scss */
.about-revision,
.article_messages {
  color: red;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px; }

/* line 299, ../sass/ewingchun.misc.scss */
.outline_node_messages,
.revision_node_messages {
  margin-top: 20px; }

/* line 303, ../sass/ewingchun.misc.scss */
p,
.content {
  padding-bottom: 7px;
  line-height: 22px; }

/* line 308, ../sass/ewingchun.misc.scss */
.tabs--primary,
.tabs--secondary {
  border: medium none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-bottom: 10px; }
  /* line 315, ../sass/ewingchun.misc.scss */
  .tabs--primary li,
  .tabs--secondary li {
    float: left;
    width: 117px;
    height: 37px;
    text-align: center;
    background: url(../images/user-botm-bg.png) repeat-x left bottom;
    border: medium none;
    padding: 8px 10px 14px 0;
    margin: 0 !important; }
    /* line 324, ../sass/ewingchun.misc.scss */
    .tabs--primary li a,
    .tabs--secondary li a {
      font-size: 13px;
      font-family: Arial;
      color: #666;
      background: url(../images/user-tab.png) no-repeat left top;
      text-align: center;
      border: medium none;
      text-decoration: none;
      height: 45px;
      line-height: 45px;
      width: 124px;
      padding: 0;
      display: block; }
    /* line 338, ../sass/ewingchun.misc.scss */
    .tabs--primary li a:hover,
    .tabs--secondary li a:hover {
      font-size: 13px;
      font-family: Arial;
      color: #116201;
      background: url(../images/user-tabhover.png) no-repeat left top;
      text-align: center;
      text-decoration: none;
      display: block;
      height: 45px;
      line-height: 45px;
      width: 124px;
      padding: 0; }
  /* line 353, ../sass/ewingchun.misc.scss */
  .tabs--primary li.active a,
  .tabs--secondary li.active a {
    font-size: 13px;
    font-family: Arial;
    color: #116201 !important;
    background: url(../images/user-tabhover.png) no-repeat left top !important;
    text-align: center;
    text-decoration: none;
    border: medium none;
    display: block;
    padding: 0;
    height: 45px;
    line-height: 45px;
    width: 124px; }

/* line 370, ../sass/ewingchun.misc.scss */
.schoolname-r p {
  font-size: 14px;
  color: #000;
  line-height: 31px; }
/* line 375, ../sass/ewingchun.misc.scss */
.schoolname-r .description-map-it > p {
  font-size: 12px;
  color: darkgray;
  line-height: 10px !important;
  margin: -5px 0 0 20px;
  font-style: normal; }

/* line 386, ../sass/ewingchun.misc.scss */
.node-type-article .articletitle-leftp .articalfpo ul {
  overflow: hidden; }
  /* line 388, ../sass/ewingchun.misc.scss */
  .node-type-article .articletitle-leftp .articalfpo ul li {
    list-style-type: none;
    float: left; }

/* line 396, ../sass/ewingchun.misc.scss */
.logout_block {
  float: right;
  width: 20%;
  margin-top: -23px;
  color: #052756;
  font-size: 12px; }
  /* line 402, ../sass/ewingchun.misc.scss */
  .logout_block a {
    text-decoration: none;
    color: #052756; }

/* line 407, ../sass/ewingchun.misc.scss */
.top_header,
.l-region--top-header {
  overflow: hidden; }

/* line 412, ../sass/ewingchun.misc.scss */
.section-add-your-stuff h1 {
  margin-bottom: 20px !important; }
/* line 416, ../sass/ewingchun.misc.scss */
.section-add-your-stuff .node--page--full p {
  margin: 0 30px;
  padding: 0; }
  /* line 419, ../sass/ewingchun.misc.scss */
  .section-add-your-stuff .node--page--full p a {
    margin-left: -30px; }

/* line 426, ../sass/ewingchun.misc.scss */
.page-node-166 .banner-top > div {
  overflow: hidden;
  box-sizing: border-box;
  width: 49%; }
/* line 431, ../sass/ewingchun.misc.scss */
.page-node-166 .banner-top {
  margin-bottom: 20px; }
/* line 434, ../sass/ewingchun.misc.scss */
.page-node-166 .banner-top-left {
  color: #8d8d8d;
  float: left;
  font-size: 15px;
  font-weight: 700;
  height: auto;
  line-height: 25px;
  padding: 15px 0 0;
  text-align: left; }
/* line 444, ../sass/ewingchun.misc.scss */
.page-node-166 .banner-top-right {
  background: transparent url(../images/bg01.jpg) repeat-x scroll left center;
  color: #052756;
  float: right;
  margin: 10px 0 0;
  padding: 15px 2%; }
  /* line 450, ../sass/ewingchun.misc.scss */
  .page-node-166 .banner-top-right .tocontribute {
    border-right: 1px solid #c4c4c4;
    color: #17335b;
    float: left;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 0;
    width: 40%; }
  /* line 459, ../sass/ewingchun.misc.scss */
  .page-node-166 .banner-top-right .loginbtn {
    background: #aeaeae none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    float: right;
    line-height: 37px;
    margin: 15px 1%;
    padding: 0 6%;
    text-decoration: none; }
  /* line 469, ../sass/ewingchun.misc.scss */
  .page-node-166 .banner-top-right .register-link {
    background: #1C57A7;
    border: medium none;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-size: 14px !important;
    height: 37px;
    line-height: 37px;
    margin: 15px 0 0 6%;
    text-align: center;
    width: 23%; }

@media screen and (max-width: 320px) {
  /* line 490, ../sass/ewingchun.misc.scss */
  .page-wiki .form-type-textfield,
  .node-type-wiki .form-type-textfield {
    width: 90% !important; }
  /* line 493, ../sass/ewingchun.misc.scss */
  .page-wiki .views-widget-filter-keys,
  .node-type-wiki .views-widget-filter-keys {
    width: 100% !important; }
    /* line 495, ../sass/ewingchun.misc.scss */
    .page-wiki .views-widget-filter-keys .form-type-textfield,
    .node-type-wiki .views-widget-filter-keys .form-type-textfield {
      width: 90% !important; }
  /* line 499, ../sass/ewingchun.misc.scss */
  .page-wiki .views-submit-button,
  .node-type-wiki .views-submit-button {
    padding-top: 5px !important; }
    /* line 501, ../sass/ewingchun.misc.scss */
    .page-wiki .views-submit-button .form-submit,
    .node-type-wiki .views-submit-button .form-submit {
      height: 36px !important; }

  /* line 508, ../sass/ewingchun.misc.scss */
  .page-taxonomy-term .view-taxonomy-term .encyclopediacategories-center,
  .page-taxonomy-term .view-taxonomy-term .encyclopediacategories-right {
    width: 100% !important;
    float: none !important; }
  /* line 514, ../sass/ewingchun.misc.scss */
  .page-taxonomy-term .pager {
    overflow: hidden;
    float: none; }
    /* line 517, ../sass/ewingchun.misc.scss */
    .page-taxonomy-term .pager .pager__item {
      display: table;
      float: left; } }
@media screen and (max-width: 480px) {
  /* line 527, ../sass/ewingchun.misc.scss */
  .page-wiki .l-main,
  .node-type-wiki .l-main {
    padding: 20px 2% !important; }
    /* line 531, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .view-filters .form-type-textfield input,
    .node-type-wiki .l-main .view-filters .form-type-textfield input {
      font-size: 11px !important;
      height: 20px !important; }
    /* line 536, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .view-filters .views-widget-filter-keys,
    .node-type-wiki .l-main .view-filters .views-widget-filter-keys {
      width: 70% !important; }
    /* line 539, ../sass/ewingchun.misc.scss */
    .page-wiki .l-main .view-filters .form-submit,
    .node-type-wiki .l-main .view-filters .form-submit {
      height: 33px !important; }
  /* line 544, ../sass/ewingchun.misc.scss */
  .page-wiki .l-content,
  .page-wiki .l-region--sidebar-first,
  .node-type-wiki .l-content,
  .node-type-wiki .l-region--sidebar-first {
    float: none !important;
    width: 98% !important;
    margin: 0 auto !important; }
    /* line 549, ../sass/ewingchun.misc.scss */
    .page-wiki .l-content h1,
    .page-wiki .l-region--sidebar-first h1,
    .node-type-wiki .l-content h1,
    .node-type-wiki .l-region--sidebar-first h1 {
      font-size: 16px !important; }
      /* line 551, ../sass/ewingchun.misc.scss */
      .page-wiki .l-content h1 a,
      .page-wiki .l-region--sidebar-first h1 a,
      .node-type-wiki .l-content h1 a,
      .node-type-wiki .l-region--sidebar-first h1 a {
        font-size: 10px; }
    /* line 555, ../sass/ewingchun.misc.scss */
    .page-wiki .l-content h3,
    .page-wiki .l-region--sidebar-first h3,
    .node-type-wiki .l-content h3,
    .node-type-wiki .l-region--sidebar-first h3 {
      font-size: 14px !important; }
    /* line 558, ../sass/ewingchun.misc.scss */
    .page-wiki .l-content .block--views-wiki-categories-block,
    .page-wiki .l-content .block--menu-menu-encyclopedia-categories,
    .page-wiki .l-region--sidebar-first .block--views-wiki-categories-block,
    .page-wiki .l-region--sidebar-first .block--menu-menu-encyclopedia-categories,
    .node-type-wiki .l-content .block--views-wiki-categories-block,
    .node-type-wiki .l-content .block--menu-menu-encyclopedia-categories,
    .node-type-wiki .l-region--sidebar-first .block--views-wiki-categories-block,
    .node-type-wiki .l-region--sidebar-first .block--menu-menu-encyclopedia-categories {
      background-size: 100% 10% !important; }
      /* line 561, ../sass/ewingchun.misc.scss */
      .page-wiki .l-content .block--views-wiki-categories-block a,
      .page-wiki .l-content .block--menu-menu-encyclopedia-categories a,
      .page-wiki .l-region--sidebar-first .block--views-wiki-categories-block a,
      .page-wiki .l-region--sidebar-first .block--menu-menu-encyclopedia-categories a,
      .node-type-wiki .l-content .block--views-wiki-categories-block a,
      .node-type-wiki .l-content .block--menu-menu-encyclopedia-categories a,
      .node-type-wiki .l-region--sidebar-first .block--views-wiki-categories-block a,
      .node-type-wiki .l-region--sidebar-first .block--menu-menu-encyclopedia-categories a {
        font-size: 14px !important; }

  /* line 568, ../sass/ewingchun.misc.scss */
  .page-taxonomy-term .l-content {
    width: 100%; }
    /* line 572, ../sass/ewingchun.misc.scss */
    .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-center div, .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-center p, .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-center ul, .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-center li, .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-center a {
      font-size: 12px;
      line-height: 15px; }
    /* line 578, ../sass/ewingchun.misc.scss */
    .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-right div, .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-right p, .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-right ul, .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-right li, .page-taxonomy-term .l-content .view-taxonomy-term .encyclopediacategories-right a {
      font-size: 11px !important;
      line-height: 15px; }

  /* line 587, ../sass/ewingchun.misc.scss */
  .page-node-166 .register-link {
    width: 22% !important; } }
@media screen and (max-width: 768px) {
  /* line 600, ../sass/ewingchun.misc.scss */
  .page-wiki .block--views-wiki-categories-block h2,
  .page-wiki .block--menu-menu-encyclopedia-categories h2,
  .node-type-wiki .block--views-wiki-categories-block h2,
  .node-type-wiki .block--menu-menu-encyclopedia-categories h2 {
    font-size: 13px !important; }
  /* line 603, ../sass/ewingchun.misc.scss */
  .page-wiki .block--views-wiki-categories-block .views-row,
  .page-wiki .block--views-wiki-categories-block .menu li,
  .page-wiki .block--views-wiki-categories-block .expanded li,
  .page-wiki .block--menu-menu-encyclopedia-categories .views-row,
  .page-wiki .block--menu-menu-encyclopedia-categories .menu li,
  .page-wiki .block--menu-menu-encyclopedia-categories .expanded li,
  .node-type-wiki .block--views-wiki-categories-block .views-row,
  .node-type-wiki .block--views-wiki-categories-block .menu li,
  .node-type-wiki .block--views-wiki-categories-block .expanded li,
  .node-type-wiki .block--menu-menu-encyclopedia-categories .views-row,
  .node-type-wiki .block--menu-menu-encyclopedia-categories .menu li,
  .node-type-wiki .block--menu-menu-encyclopedia-categories .expanded li {
    line-height: 22px !important; }
  /* line 609, ../sass/ewingchun.misc.scss */
  .page-wiki .encyclopediacategories-center,
  .page-wiki .encyclopediacategories-right,
  .node-type-wiki .encyclopediacategories-center,
  .node-type-wiki .encyclopediacategories-right {
    float: none !important;
    width: 98% !important; }

  /* line 615, ../sass/ewingchun.misc.scss */
  .logout_block {
    float: none !important;
    margin: 10px auto !important;
    width: 150px !important; }

  /* line 622, ../sass/ewingchun.misc.scss */
  .page-taxonomy-term-84 .middleleftimg1 span {
    background-size: 130%;
    background-position: -150% 70%;
    left: 30%;
    bottom: 40%; }

  /* line 631, ../sass/ewingchun.misc.scss */
  .page-node-166 .banner-top > div {
    width: 100% !important;
    float: none; } }
@media (min-width: 481px) and (max-width: 768px) {
  /* line 640, ../sass/ewingchun.misc.scss */
  .page-wiki .l-content,
  .node-type-wiki .l-content {
    width: 69% !important; }
  /* line 643, ../sass/ewingchun.misc.scss */
  .page-wiki .l-region--sidebar-first,
  .node-type-wiki .l-region--sidebar-first {
    width: 29% !important; }
  /* line 646, ../sass/ewingchun.misc.scss */
  .page-wiki a,
  .node-type-wiki a {
    font-size: 11px !important; }
  /* line 649, ../sass/ewingchun.misc.scss */
  .page-wiki .views-widget-filter-keys,
  .node-type-wiki .views-widget-filter-keys {
    width: 64% !important; }

  /* line 654, ../sass/ewingchun.misc.scss */
  .page-node-166 .register-link {
    width: 18% !important; } }

/*# sourceMappingURL=ewingchun.misc.css.map */
