/* line 3, ../sass/components/_main-menu.scss */
#block-system-main-menu ul li + li {
  border-left: 1px solid #444444;
}
/* line 6, ../sass/components/_main-menu.scss */
#block-system-main-menu ul li {
  box-sizing: border-box;
  text-align: center;
}
/* line 9, ../sass/components/_main-menu.scss */
#block-system-main-menu ul li a {
  background: url("../images/bg-nav.gif") repeat-x scroll 0% 0%;
  color: #FFFFFF;
  text-decoration: none;
}
/* line 14, ../sass/components/_main-menu.scss */
#block-system-main-menu ul li a:hover {
  color: #000000;
  background: transparent url("../images/bg-nav.gif") repeat-x scroll 0% 50%;
}

/* line 7, ../sass/components/main-menu.layout.scss */
#block-system-main-menu ul {
  display: flex;
  flex-direction: row;
}
/* line 10, ../sass/components/main-menu.layout.scss */
#block-system-main-menu ul li {
  display: flex;
  flex: 1 1 auto;
  height: 44px;
}
/* line 14, ../sass/components/main-menu.layout.scss */
#block-system-main-menu ul li a {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  max-height: 44px;
}

@media screen and (max-width: 44em) {
  /* line 28, ../sass/components/main-menu.layout.scss */
  #block-system-main-menu ul {
    flex-direction: column;
  }

  /* line 31, ../sass/components/main-menu.layout.scss */
  .l-branding {
    text-align: center;
    height: inherit;
  }
}
/* line 11, ../sass/lineage.styles.scss */
html {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
}
/* line 15, ../sass/lineage.styles.scss */
html header #leaderboard {
  line-height: 24px;
  background-color: #dedede;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  color: #666666;
}
/* line 20, ../sass/lineage.styles.scss */
html header #leaderboard p {
  font-family: 'Trajan Pro', Times, Baskerville, Georgia, serif;
}

/* line 27, ../sass/lineage.styles.scss */
body {
  background: #EEE9DF url("../images/bg-body.jpg") repeat-x scroll center top;
}

/* line 34, ../sass/lineage.styles.scss */
header,
.l-main,
.l-region--footer {
  max-width: 980px;
  margin: 0 auto;
}

/* line 41, ../sass/lineage.styles.scss */
#search-block-form #edit-submit {
  height: 30px;
  width: 35px;
  background: transparent url("/sites/all/themes/lineage/images/search.jpg") no-repeat scroll 0px 0px;
}

/* line 56, ../sass/lineage.styles.scss */
footer {
  background: #FFFFFF;
  padding-top: 1.5em;
}

/* line 62, ../sass/lineage.styles.scss */
#block-menu-menu-footer-links ul {
  display: flex;
  flex-wrap: wrap;
}
/* line 65, ../sass/lineage.styles.scss */
#block-menu-menu-footer-links ul li {
  display: flex;
  flex: 0 1 auto;
  padding: .5em;
}
/* line 69, ../sass/lineage.styles.scss */
#block-menu-menu-footer-links ul li a {
  font-size: 1em;
  display: flex;
}

/* line 76, ../sass/lineage.styles.scss */
h3 {
  border-bottom: 1px solid #DDDBD9;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

/* line 83, ../sass/lineage.styles.scss */
.site-name,
#block-system-main-menu .block__title {
  visibility: hidden;
  display: none;
}

/* line 92, ../sass/lineage.styles.scss */
#search-block-form .form-item {
  margin-bottom: 0;
  height: 30px;
}
/* line 95, ../sass/lineage.styles.scss */
#search-block-form .form-item .form-text {
  height: inherit;
  box-sizing: border-box;
}

/* line 103, ../sass/lineage.styles.scss */
.block__title {
  border-bottom: 1px solid #DDDBD9;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

/* line 110, ../sass/lineage.styles.scss */
.block {
  margin-bottom: 1em;
}

/* line 114, ../sass/lineage.styles.scss */
#links {
  display: flex;
  justify-content: flex-end;
}
/* line 117, ../sass/lineage.styles.scss */
#links .user-links {
  display: flex;
  padding: 1em;
}
/* line 120, ../sass/lineage.styles.scss */
#links .user-links li {
  padding-right: 0.5em;
}
/* line 123, ../sass/lineage.styles.scss */
#links .user-links li + li {
  padding-left: 0.5em;
  border-left: 1px solid #000000;
}

/* line 130, ../sass/lineage.styles.scss */
h1, h2 {
  font-family: "Lucida Sans Unicode",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px;
  padding: 5px 0px 0px 5px;
}

/* line 137, ../sass/lineage.styles.scss */
.breadcrumb {
  border-bottom: 1px solid #DDDBD9;
  border-top: 1px solid #DDDBD9;
  font-size: 11px;
  padding: 2px 0px;
}
/* line 142, ../sass/lineage.styles.scss */
.breadcrumb li {
  display: inline;
}
/* line 144, ../sass/lineage.styles.scss */
.breadcrumb li a {
  text-decoration: none;
}

/* line 149, ../sass/lineage.styles.scss */
#block-banner h1 {
  text-transform: uppercase;
  font-family: 'Trajan Pro Bold', Times, Baskerville, Georgia, serif;
  font-size: 23px;
  color: #1c57a7;
}
/* line 154, ../sass/lineage.styles.scss */
#block-banner h1 span {
  color: #116201;
}
/* line 156, ../sass/lineage.styles.scss */
#block-banner .middletop-left {
  width: 50%;
  float: left;
  height: auto;
  font-size: 15px;
  font-weight: 700;
  color: #8d8d8d;
  line-height: 25px;
  text-align: left;
  padding: 15px 0 0;
}
/* line 167, ../sass/lineage.styles.scss */
#block-banner .contribute {
  width: 387px;
  float: right;
  height: 68px;
  background: url(../images/bg01.jpg) repeat-x left;
  color: #052756;
  margin: 10px 0 0;
  padding: 15px 20px;
}

@media screen and (max-width: 44em) {
  /* line 179, ../sass/lineage.styles.scss */
  .l-region--content-columns {
    flex: 1 1 auto;
  }
}
@media screen and (min-width: 44em) {
  /* line 184, ../sass/lineage.styles.scss */
  .l-region--content-columns {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 187, ../sass/lineage.styles.scss */
  .l-region--content-columns div {
    flex: 1 1 0%;
  }
}
@media screen and (min-width: 70em) {
  /* line 194, ../sass/lineage.styles.scss */
  .l-main {
    margin: 0 43px;
  }
}
