@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sifu\/sites\/all\/themes\/lineage\/sass\/components\/block-search-form\.layout\.scss}line{font-family:\000031}}
#block-search-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0; }
