@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sifu\/sites\/all\/themes\/lineage\/sass\/components\/block-banner\.scss}line{font-family:\000032}}
#block-banner .block__title {
  background: #F4F1EE none repeat scroll 0% 0%;
  font-family: "Lucida Sans Unicode",Helvetica,Arial,sans-serif;
  padding: 1em;
  font-size: 1.3em;
  letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sifu\/sites\/all\/themes\/lineage\/sass\/components\/block-banner\.scss}line{font-family:\000039}}
#block-banner .block__content {
  padding: 1em; }
