// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "abstractions/{YOUR FILE NAME HERE}";
//@import "base/{YOUR FILE NAME HERE}";
//@import "components/{YOUR FILE NAME HERE}";
@import "variables/variables.scss";
@import "components/main-menu.layout.scss";
//@import "components/block-search-form.layout.scss";
@import "components/*scss";

html * {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;

}
body {
  background: #EEE9DF url("../images/bg-body.jpg") repeat-x scroll center top;
  
}
.l-page {
}

header,
.l-main,
.l-region--footer {
  max-width: 980px;
  margin: 0 auto;
}
#search-block-form {
  #edit-submit {
    height: 30px;
    width: 35px;
    background: transparent url("/sites/all/themes/lineage/images/search.jpg") no-repeat scroll 0px 0px;
  }
}

.l-main {
  box-sizing: border-box;
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-left: 1px solid #DBD6CD;
  border-right: 1px solid #DBD6CD;
}

footer {
  background: #FFFFFF;
  padding-top: 1.5em;
}

#block-menu-menu-footer-links {
  ul {
    display: flex;
	flex-wrap: wrap;
	li {
	  display: flex;
	  flex: 0 1 auto;
      padding: .5em;
	  a {
	    font-size: 1em;
	    display: flex;
	  }
	}
  }
}
h3 {
    border-bottom: 1px solid #DDDBD9;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

.site-name,
#block-system-main-menu .block__title {
  visibility: hidden;
  display: none;
}
.l-branding {
  height: 100px;
}
#search-block-form {
  .form-item {
    margin-bottom: 0;
	height: 30px;
    .form-text {
	  height: inherit;
	  box-sizing: border-box;
	}
  }
}


.block__title {
    border-bottom: 1px solid #DDDBD9;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
	margin-bottom: 1em;
}
.block {
  margin-bottom: 1em;
}

#links {
  display: flex;
  justify-content: flex-end;
  .user-links {
    display: flex;
	padding: 1em;
	li {
	  padding-right: 0.5em;
	}
	li + li {
	  padding-left: 0.5em;
	  border-left: 1px solid #000000;
	}
  }
}

h1, h2 {
    font-family: "Lucida Sans Unicode",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0px;
    padding: 5px 0px 0px 5px;
}
.breadcrumb {
    border-bottom: 1px solid #DDDBD9;
    border-top: 1px solid #DDDBD9;
    font-size: 11px;
    padding: 2px 0px;
}

@media screen and (max-width: $tab) {
  .l-region--content-columns {
    flex: 1 1 auto;
  }
}
@media screen and (min-width: $tab) {
  .l-region--content-columns {
    display: flex;
    flex-wrap: wrap;
    div {
      flex: 1 1 0%;
    }
  }
}
