.page-articles{
  .view-article{
    label{
      float: none !important;
    }
    .views-exposed-widget{

    }

    .view-filters {
      margin-top: 0;
      .views-exposed-form {
        width: 70%;
      }
    }
    .view-header {
      overflow: hidden;
      margin-bottom: -50px;
      .sifuheaderleft {
        float: left;
        width: 70%;
        border-top: 5px solid #f8f8f8;
        h2{
          float: left;
          text-transform: uppercase;
          margin-right: 5px;
          margin-bottom: 0;
        }
        p{
          margin-top: 17px;
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            text-decoration: underline;
            display: inline;
            padding-left: 5px;
          }
        }
      }
      .sifuheaderright {
        float: right;
        background:url("../images/youcanalso-bg.png") no-repeat 0 15px;
        background-size: cover;
        padding: 0 10px 10px 10px;
        width: 20%;
        h2{
          color: #116201;
          font-family: Trajan Pro Bold;
          font-size: 15px;
          letter-spacing: -1px;
          text-transform: uppercase;
        }
        a{

        }
        .addvideobtn{
          a.gobtn-submit{
            border: medium none;
            color: #fff !important;
            cursor: pointer;
            background: #1D58A8;
            padding: 10px 20px;
            border-radius: 4px;
            display: inline-block;
            font-size: 14px !important;
            margin-right: 5px;
            text-decoration: none !important;
          }
          a.gobtn-submit:hover{
            background: #1266D6;
          }
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            overflow-wrap: break-word;
            text-decoration: underline;
          }
        }
      }
    }
    .view-filters{
      .form-select {
        -moz-appearance: none;
        background: transparent url("../images/select-left.png") no-repeat scroll 100% 0;
        border: medium none;
        font-size: 11px;
        height: 21px !important;
        line-height: 11px;
        margin-left: -2px;
        opacity: 1 !important;
        padding-left: 2px;
        padding-top: 2px;
        position: relative;
        text-indent: 0.01px;
        text-overflow: "";
        width:100% !important;
        max-width: 293px;
        background-size: 100% auto;
      }
      .description{
        display: none;
      }
      .views-exposed-widget{
        padding: 0;
      .form-text {
        box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
        border: solid 1px #BFBFBF;
        float: left;
        height: 26px;
        margin: 0 0 10px;
        border-radius: 2px;
        padding: 5px;
        width: 96%;
        max-width: 280px;
      }
      }
     #edit-field-sifu-nid-wrapper{
        width: 48%;
        margin-right: 2%;
     }
      #edit-title-wrapper{
        width: 50%;
      }
      #edit-body-value-wrapper{
        width: 48%;
        margin-right: 2%;
      }
      #edit-field-sifu-nid-1-wrapper{
        width: 50%;
      }
      #edit-taxonomy-vocabulary-9-tid-wrapper{
        width: 100%;
      }
      #edit-keys-wrapper{
        float: left;
        .views-widget{
          float: left;
        }
      }
      .views-submit-button{
        float: left;
        margin-top: 2px;
        clear: both;
      }
      .views-exposed-widget{
        .form-text{
          max-width: 280px;
        }
      }
      label{
        display: block;
        font-size: 14px;
        font-weight: 400;
        float: left;
        min-width: 120px;
        margin: 0 10px 10px 0;
      }
      .form-submit{
        border: medium none;
        color: #fff !important;
        float: left;
        cursor: pointer;
        background: #1D58A8;
        padding: 10px 40px;
        border-radius: 4px;
        display: inline-block;
        font-size: 14px !important;
        margin-right: 5px;
        margin-top: 0;
        text-decoration: none !important;
      }
      .form-submit:hover{
        background: #1266D6;
      }
    }
    .main-history {
      border-radius: 5px;
      overflow: hidden;
      margin: 20px 0 0;
      padding-bottom: 10px;
      width: 100%;
      /*background: rgba(0, 0, 0, 0) url("../images/article-teaser-bg.jpg") repeat-y scroll left top;*/
      background: #F8F8F8;
      background-size: 100%;
      .history-left {
        float: left;
        width: 75%;
        h3{
          a{
            color: #17335b ;
            font-family: Arial;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            text-decoration: none;
          }
        }
        .history-mid {
          float: left;
          padding: 0 0 20px 3%;
          width: 97%;
          .history-left1 {
            float: left;
            width: 80%;
            span {
              color: #000;
              font-family: Arial;
              font-size: 12px;
              font-weight: 400;
            }
            .font-16 {
              color: #17335b;
              font-family: Arial;
              font-size: 16px;
              font-weight: 700;
              margin: 0;
            }
          }
          .history-right1 {
            color: #805e5e;
            float: right;
            font-size: 12px;
            height: 83px;
            margin-bottom: 0;
            padding: 0 0 10px 10px;
            text-align: center;
            width: 17%;
            margin-right: 4px;
          }
          .article-teaser {
            margin-right: 20px;
            padding-top: 10px;
            clear: both;
          }
        }
      }
      .history-right {
        float: left;
        width: 24%;
        .posted-mid {
          float: right;
          padding: 3px 0 0 4%;
          width: 96%;
          text-align: center;
        }
        .ar-font12 {
          color: #000;
          font-family: Arial;
          font-size: 12px;
          font-weight: 700;
          line-height: 19px;
        }
        .post-images{
          img {
            float: left;
            max-height: 38px;
            max-width: 38px;
          }
          ul{
            padding: 0;
            margin: 0;
            li{
              list-style: none;
            }
          }
        }
      }
    }
  }
}
.node-type-article{
  .articletitle-leftp {
    float: left;
    margin: 20px 0 30px 0;
    padding: 0;
    width: 69%;
    .articalmain {
      float: left;
      height: auto;
      margin: 0;
      width: 100%;
      .left{
        color: #000;
        float: left;
        min-width: 180px;
        img{
          width: 100%;
          height: auto;
        }
        .field--name-field-sifu{
          float: right;
          margin-left: 10px;
        }
      }
      .center {
        color: #000;
        float: left;
        min-width: 180px;
        margin-right: 20px;
        margin-left: 20px;
      }
      .right {
        color: #000;
        float: left;
        min-width: 180px;
      }
      .middleleft {
        float: left;
        height: auto;
        padding: 15px 20px 0 0;
        width: 35%;
        margin-right: 2%;
        .middleleftimg {
          /*float: left;*/
          height: auto;
          padding: 0;
          .img-caption {
            text-align: center;
          }
        }
      }
      .middle-center {
        height: auto;
        line-height: 25px;
        padding: 15px 0 0;
      }
      .middle{
        clear: both;
        .left{
          float: none;
        }
      }
    }
  }
  .artical-rightmain {
    border-left: 1px solid #ededed;
    float: right;
    height: auto;
    margin: 0;
    width: 30%;
    .recentvideos, .relatedproducts,.recentarticles {
      background: rgba(0, 0, 0, 0) url("../images/recentvideosbg.jpg") no-repeat scroll left 10px;
      float: right;
      height: auto;
      margin: 0;
      padding: 0 0 0 4%;
      width: 96%;
      background-size: 100% auto;
      h3,.views-field-created{
        display: none;
      }
      ol,ul,li{
        padding: 0;
        list-style: none;
      }
      .yca {
        color: #116201;
        font-family: Trajan Pro Bold;
        font-size: 15px;
        letter-spacing: -1px;
        text-transform: uppercase;
      }
      .view-products{
        padding: 25px 0 0;
      }
    }
    .view-content{
      a{
        color: #1c57a7;
        font-size: 14px;
        line-height: 25px;
      }
      a:before{
        content: "-";
        color: #1c57a7;
      }
    }
  }
  .middleleftimg1{
    clear: both;
    a{
      display: block;
      position: relative;
    }
    span {
      background: transparent url("../images/emvideo-play.png") no-repeat scroll 0 0;
      display: block;
      height: 112px;
      left: 35%;
      position: absolute;
      bottom: 25px;
      width: 85px;
    }
    span:hover{
      background-position: -86px 0;
      opacity: 1;
    }
  }
}
#comments{
  clear: both;
section{
  border-top: 5px solid #f8f8f8;
  clear: both;
  margin: 30px 0 0;
  padding: 15px 0 0;
}
  h2{
    color: #116201;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: normal;
  }
  .comment{
    margin-bottom: 30px;
    overflow: hidden;
    h3{
      background: #f2f2f2 none repeat scroll 0 0;
      height: 31px;
      max-width: 612px;
      width: 100%;
      a{
        color: #1c57a7;
        font-family: TrajanProBold;
        font-size: 17px;
        line-height: 31px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    .comment__info{
      background: none;
      color: #666;
    }
  }
}
.review-headingbg{
  height: 31px;
  margin: 20px 0 0;
  width: 80%;
  padding: 10px 0;
  .review-hleftbg {
    height: 31px;
    width: auto;
    float: left;
    display: none;
  }

  .review-hcenterbg {
    background: #f2f2f2 none repeat scroll 0 0;
    height: 31px;
    width: 96%;
    float: left;
    .centerleft {
      float: left;
      a{
        color: #1c57a7;
        font-family: Trajan Pro Bold;
        font-size: 17px;
        line-height: 31px;
        text-transform: uppercase;
      }
    }
    .centerright {
      color: #666;
      float: right;
      margin-right: 10px;
      font-size: 12px;
      padding: 6px 0;
      .centerright01 {
        height: auto;
        text-align: left;
        span{
          float: left;
          ul{
            float: left;
          }
        }
      }
    }
  }
  .review-hrightbg {
    height: 31px;
    width: auto;
    display: none;
  }
}
.review-content {
  margin: 0 0 15px;
  clear: both;
  width: 80%;
  .review-left{
    float: left;
    width: 10%;
    margin-right: 2%;
  }
  .review-right {
    width: 88%;
    float: left;
    p{
      margin-top: 0;
    }
  }
  .usearname-title{
    font-size: 16px;
    a{
      font-size: 12px;
    }
  }
}