.logged-in{
  #block-system-main-menu{
    ul{
      li{
        width: 9%;
      }
    }
  }
}
.not-logged-in .tabs--primary {
  display: none;
}
.sharethis-buttons{
  display: none;
}
body {
  color: #666;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  .l-page {
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    overflow: hidden;
    width: 77%;
    max-width: 980px;
    margin: 0 auto;
    .l-main{
      overflow: hidden;
      padding: 0 2%;
    }
  }
}
.front .has-sidebar-second .l-content {
  float: left;
  margin-right: 2%;
  width: 58%;
}

.front .has-sidebar-second .l-region--sidebar-second {
  width: 40%;
  float: left;
}

.not-front .has-sidebar-second .l-content {
  float: left;
  margin-right: 2%;
  width: 71%;
}
#block-views-exp-blogs-page-1 {
  .views-widget-filter-keys{
    width: 48%;
    margin-right: 2%;
    padding: 0;
    max-width: 280px;
  }
  label{
    font-size: 14px;
    font-weight: 400;
  }
  .views-widget-filter-tid{
    float: left;
    width: 50%;
    max-width: 293px;
    padding-right: 0;
  }
  .description{
    display: none;
  }
  .form-text {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
    float: left;
    height: 26px;
    margin: 0 0 10px;
    max-width: 280px;
    padding: 5px;
    width: 96%;
    background: #fff;
  }
  .form-select {
    -moz-appearance: none;
    background: transparent url("../images/select-left.png") no-repeat scroll left center;
    background-size: 100% 100%;
    border: medium none;
    font-size: 11px;
    height: 21px !important;
    line-height: 11px;
    opacity: 1 !important;
    padding-left: 2px;
    padding-top: 2px;
    position: relative;
    text-indent: 0.01px;
    width: 100% !important;
  }
  .views-submit-button{
    clear: both;
    .form-submit{
      background: #1d58a8 none repeat scroll 0 0;
      border: medium none;
      border-radius: 4px;
      color: #fff !important;
      cursor: pointer;
      display: inline-block;
      float: left;
      font-size: 14px !important;
      margin-right: 5px;
      margin-top: 0;
      padding: 10px 40px;
      text-decoration: none !important;
    }
    .form-submit:hover{
      background: #1266d6;
    }
  }
}

.not-front .has-sidebar-second .l-region--sidebar-second {
  width: 23%;
  padding-left: 2%;
  float: left;
  border-left: 1px solid #ededed;
}
.breadcrumb{
  margin: 0;
  background: #F8F8F8;
  overflow: hidden;
  li{
    float: left;
    list-style: none;
    color: #1c57a7;
    font-size: 11px;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    a{
      color: #1c57a7;
      font-size: 11px;
      line-height: 25px;
      text-align: left;
      text-decoration: none;
      padding: 0 5px;
    }
  }
  li:after{
    content: ">>";
    color: #1c57a7;
    font-size: 11px;
  }
  li:last-child:after{
    content: none;
  }
}
.admin-sw{
  .l-page{
    padding-top: 25px;
  }
}
#wrapper{
  padding: 20px 2%;
  overflow: hidden;
}
.top_header{
  #block-block-13{
    width: 60%;
    margin: 0 auto;
    ul{
      padding: 0;
      margin: 0;
      li{
        float: left;
        margin: 0 -1px 0 0;
        list-style: none;
        width: 24%;
        text-align: center;
        border:solid 1px #e6e6e6;
        border-radius:0 0 5px 5px;
        a{
          background: #f8f8f8;
          font-size: 12px;
          color: #666;
          display: block;
          text-decoration: none;
          padding: 10px 2%;
        }
        a:hover,.topmenu-activ{
          font-weight: 700;
          background: #d2d2d2;
        }
      }
    }
  }
  #block-block-12{
    float: right;
    margin: 10px 20px 0 0;
    ul{
      padding: 0;
      margin: 0;
      li{
        float: left;
        list-style: none;
        margin-right: 5px;
        a{
          display: block;
          background-repeat: no-repeat;
          width: 35px;
          height: 33px;
          font-size: 0;
        }
        .facebook{
          background: url("../images/fb-icon.jpg");
        }
        .twitter{
          background: url("../images/tw-icon.jpg");
        }
        .email{
          background: url("../images/email-icon.jpg");
        }
      }
    }
    #links{
      clear: both;
      a{
        padding: 0 5px;
        color: #052756;
        font-size: 12px;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
  #block-block-15 {
    width: 100%;
  p{
    margin: 0;
    line-height: 30px;
  }
    #leaderboard {
      background: #dedede none repeat scroll 0 0;
      color: #666;
      float: left;
      font-family: Trajan Pro Bold;
      font-size: 11px;
      height: 30px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }
}
header {
  .l-branding {
    float: left;
    overflow: hidden;
    padding-top: 48px;
    margin-left: 3%;
    width: 22%;
    max-width: 205px;
    .site-logo{
      margin-left: 2%;
    }
    .l-region--branding{
      width: 100%;
      position: relative;
      margin: 0;
    }
  }
  .l-region--header{
    float: right;
    width: 75%;
  }
  #links{
    display: none;
  }
  #block-block-8{
    float: left;
    margin-left: 3%;
    width: 55%;
  }
  #block-block-11 {
    display: none;
    margin-left: 3%;
  }
  #block-search-form {
    height: 28px;
    padding: 5px 10px 0 10px;
    background: #d2d2d2;
    float: right;
    width: 35%;
    border-radius: 3px 0 0 0;
    margin-top: 121px;
    #search-block-form {
      .container-inline {
        border-radius: 0;
        background: none;
        box-shadow: none;
        padding: 0;
      }
      .form-text {
        background: #fff;
        border: medium none;
        font-size: 11px;
        height: 20px;
        padding: 0 6px;
        width: 150px;
        border-radius: 2px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5) inset;
      }
      .form-submit {
        background: transparent url("../images/searchicon.jpg") no-repeat scroll 0 0;
        border: medium none;
        cursor: pointer;
        float: right;
        margin-left: 10px;
        height: 23px;
        width: 18px;
        font-size: 0;
      }
      .form-item-search-block-form:before {
        content: "Search:";
        color: #666;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}
#block-system-main-menu{
  background: #17335b;
  clear: both;
  overflow: hidden;
  ul{
    padding: 0;
    margin: 0;
    margin: 0;
    width: 100%;
    li{
      list-style: none;
      float: left;
      width: 10%;
      height: 44px;
      a{
        color: #fff;
        display: block;
        line-height: 44px;
        /*padding: 0 20px;*/
        text-decoration: none;
        width: 100%;
        border-right: solid 1px #0E2143;
        text-align: center;
      }
      a.active{
        background: #1c57a7;
      }
      a:hover{
        background: #1c57a7;
      }
    }
    li:last-child{
      a{
        border: none;
      }
    }
  }
}

.above_content {
  overflow: hidden;
}
#block-block-10{
  .tocontribute {
    border-right: 1px solid #c4c4c4;
    color: #17335b;
    float: left;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 0;
    width: 40%
  }
  .register-link {
    background: #1C57A7;
    border: medium none;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-size: 14px !important;
    height: 37px;
    line-height: 37px;
    margin: 15px 0 0 25px;
    text-align: center;
    width: 87px;
  }
  .register-link:hover{
    background: #1266D6;
  }
  h1{
    color: #1c57a7;
    font-family: "Trajan Pro Bold";
    font-size: 23px;
    font-weight: normal;
    text-transform: uppercase;
    span{
      color: #116201;
    }
  }
  .banner-top {
    margin-bottom: 20px;
  }

  .banner-top > div {
    box-sizing: border-box;
    width: 48%;
  }
  .banner-top-left {
    color: #8d8d8d;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: auto;
    line-height: 25px;
    padding: 15px 0 0;
    text-align: left;
  }
  .banner-top-right {
    background: rgba(0, 0, 0, 0) url("../images/bg01.jpg") repeat-x scroll left center;
    color: #052756;
    float: right;
    margin: 10px 0 0;
    padding: 15px 20px;
     .usrname {
      float: left;
       margin-top: 20px;
    }
  }
  .loginbtn {
    background: #aeaeae none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    float: right;
    line-height: 37px;
    margin: 15px 8px;
    padding: 0 25px;
    text-decoration: none;
  }
  .loginbtn:hover{
    background:#404040 ;
  }
  .browse-table {
    h2 {
      color: #116201;
      font-family: "Trajan Pro Bold";
      font-size: 22px;
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;
    }
    p{
      color: #1c57a7;
      font-size: 16px;
    }
    .browsetable-box {
      background-color: #f2f2f2;
      border: 1px solid #ddd;
      box-sizing: border-box;
      float: left;
      width: 25%;
      padding: 10px;
      text-align: center;
      p.browse-heading {
        color: #434242;
        font-family: "Trajan Pro Bold";
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 22px;
        margin: 0;
        padding-bottom: 7px;
        text-align: center;
        text-transform: uppercase;
      }
      div {
        display: inline;
        margin: 16px;
        text-align: center;
        a{
          text-decoration: underline;
          color: #1c57a7;
          font-family: Arial;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
#block-views-sifu-block-2,#block-views-local-resources-block-1{
  clear: both;
  padding-bottom: 30px;
  position: relative;
  .views-field-field-profile-img{
    text-align: center;
  }
  .block__title{
    background: rgba(0, 0, 0, 0) url("../images/thelatest-left-topbg.jpg") no-repeat scroll left top;
    background-size: 100% 100%;
    color: #1c57a7;
    font-family: Trajan Pro Bold;
    font-size: 17px;
    font-weight: normal;
    height: 44px;
    letter-spacing: -1px;
    padding: 5px 0 0 14px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  table{
    width: 100%;
    margin: 0 auto;
  }
  thead{
    background: #f8f8f8 none repeat scroll 0 0;
    line-height: 40px;
    th{
      padding: 0 10px;
      color: #17335b;
      font-family: Arial;
      font-size: 14px;
      font-weight: 700;
    }
  }
  tr {
    td {
      padding-left: 10px;
      font-size: 12px;
      a{
        color: #1c57a7;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px !important;
        text-decoration: underline;
      }
    }
  }
  .odd{
    background: #ededed none repeat scroll 0 0;
    height: 44px;
  }
  .even{
    background: #f8f8f8 none repeat scroll 0 0;
    height: 44px;
  }
}
.l-region--sidebar-second{
  #block-quicktabs-the-latest{
    h2{
      color: #1c57a7;
      font-family: Trajan Pro Bold;
      font-size: 17px;
      font-weight: normal;
      letter-spacing: -1px;
      margin-bottom: 8px;
      text-transform: uppercase;
      span{
        color: #116201 !important;
        font-family: Trajan Pro Bold;
        font-size: 17px;
        font-weight: normal;
        letter-spacing: -1px;
      }
    }
    li{
      border: medium none !important;
      color: #666;
      float: left;
      font-family: Arial !important;
      font-size: 12px !important;
      height: 50px !important;
      line-height: 19px;
      margin:0 1% 0 0 !important;
      padding: 0 !important;
      text-align: center;
      white-space: normal;
      width: 24%;
      a{
        background: transparent url("../images/tab-bg.png") repeat-x left top;
        color: #666;
        display: block;
        border: none;
        font-family: Arial !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        line-height: 50px !important;
        overflow-wrap: normal;
        text-align: center;
        height: 50px !important;
        line-height: 50px !important;
        width: 100%;
        padding: 0;
        text-decoration: none;
      }
      a:hover{
        background: #f8f8f8;
      }
    }
    li:last-child{
      margin: 0 !important;
      width: 25%;
    }
    li.active a{
      background: #F8F8F8;
      color: #116201 !important;
    }
    #quicktabs-container-the_latest{
      background:#F8F8F8;
      padding: 20px 0 2% 15px;
    }
    .view-content{
      color: #666;
      font-family: Arial;
      font-size: 12px;
      line-height: 19px;
      .views-field-field-sifu{
        float: left;
        .views-label{
          float: left;
          margin-right: 5px;
        }
        .field-content{
          float: left;
        }
      }
      .views-field-created{
        float: left;
        margin-left: 5px;
      }
      .views-field-title{
        float: left;
        width: 100%;
      }
      .views-field-name{
        float: left;
      }
      a{
        color: #1c57a7;
        font-family: Arial;
        font-size: 12px;
        text-decoration: underline;
      }
      .views-row{
        padding-bottom: 12px;
        overflow: hidden;
      }
    }
  }
}
.under_content{
  clear: both;
  padding: 20px 2%;
  margin-bottom: 30px;
  #block-views-videos-block-2{
    background: url("../images/videobg.jpg") repeat-y center center;
    background-size: cover;
    padding: 20px 2%;
    overflow: hidden;
    .views-row{
      float: left;
      width: 23%;
      margin: 0 1% 20px 1%;
      text-align: center;
      .views-field-title{
        text-align: center;
        a{
          color: #1c57a7;
          font-family: Arial;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .more-link{
      display: none;
    }
    h2{
      text-align: center;
      border-bottom: 1px solid #dcdcdc;
      color: #1c57a7;
      font-family: Trajan Pro Bold;
      font-size: 17px;
      font-weight: normal;
      line-height: 50px;
      text-transform: uppercase;
      width: 80%;
      margin: 0 auto 20px;
    }
  }
}
footer{
  clear: both;
  width: 100%;
  background: #414348 none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 13px;
  height: 155px;
  padding: 20px 0 0;
  .l-region--footer{
    width: 90%;
    margin: 0 auto;
  }
  #block-menu-menu-footer-links{
    overflow: hidden;
    width: 630px;
    margin: 0 auto;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none !important;
      list-style-image:none;
      float: left;
      a{
        border-left: 1px solid #fff;
        color: #fff;
        display: inline;
        font-size: 13px;
        letter-spacing: -1px;
        padding: 0 6px;
        text-decoration: none;
      }
      .active {
        color: #fff;
      }
    }
    li.first{
      a{
        border: none;
      }
    }
  }
  #block-block-14{
    text-align: center;
    clear: both;
    margin-top: 50px;
  }
  #block-block-16{
    clear: both;
    margin: 20px auto 0;
    width: 430px;
    overflow: hidden;
    ul{
      padding: 0;
      margin: 0;
      li:first-child{
        a{
          border: none;
        }
      }
    }
  }
}

.view-filters{
  .form-select {
    -moz-appearance: none;
    background: transparent url("../images/select-left.png") no-repeat scroll 100% 0;
    border: medium none;
    font-size: 11px;
    height: 21px !important;
    line-height: 11px;
    margin-left: -2px;
    opacity: 1 !important;
    padding-left: 2px;
    padding-top: 2px;
    position: relative;
    text-indent: 0.01px;
    text-overflow: "";
    width: 293px !important;
  }
  .description{
    display: none;
  }
  .views-exposed-widget{
    .form-text {
      box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
      border: solid 1px #BFBFBF;
      float: left;
      height: 26px;
      margin: 0 0 10px;
      border-radius: 2px;
      padding: 5px;
      width: 280px;
    }
  }

  #edit-taxonomy-vocabulary-9-tid-wrapper{
    width: 100%;
  }
  #edit-keys-wrapper{
    float: left;
  }
  .views-submit-button{
    float: left;
    margin-top: 2px;
  }
  .views-exposed-widget{
    .form-text{
      max-width: 280px;
    }
  }
  label{
    display: block;
    font-size: 14px;
    font-weight: 400;
    float: left;
    min-width: 120px;
    margin: 0 10px 10px 0;
  }
  .form-submit{
    border: medium none;
    color: #fff !important;
    float: left;
    cursor: pointer;
    background: #1D58A8;
    padding: 10px 40px;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px !important;
    margin-right: 5px;
    margin-top: 0;
    text-decoration: none !important;
  }
  .form-submit:hover{
    background: #1266D6;
  }
}
.comment-form{
  .form-text{
    width: 90%;
    max-width: 300px;
  }
  textarea{
    width: 90%;
    max-width: 315px;
    display: block !important;
  }
  .grippie{
    display: none;
  }
  .cke_skin_kama,.filter-wrapper{
    display: none;
  }
}
.comment-form{
  label{
    font-size: 14px;
    font-weight: 400;
  }
  .form-text {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
    height: 26px;
    margin: 0 0 10px;
    max-width: 280px;
    padding: 5px;
    width: 98%;
  }
  .form-submit{
    margin-right: 10px;
    background: #1c57a7 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    font-size: 14px !important;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
  }
  .form-actions{
    margin-top: 20px;
  }
}
.wrap{
  overflow: hidden;
}
.feed-icon{
  display: none;
}
.page-node-add {
  .l-main{
  .form-text {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
    height: 26px;
    max-width: 280px;
    padding: 5px;
    width: 90%;
    background: #fff;
  }
  textarea {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    width: 96%;
    background: #fff;
  }
  .form-submit {
    background: #1d58a8 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px !important;
    padding: 10px 20px;
    margin-right: 10px;
  }
}
  .grippie{
    display: none;
  }
  table{
    th,tr{
      background-color: #fff;
    }
  }
}

.page-node-add-article {
  .form-select {
    -moz-appearance: none;
    background: transparent url("../images/select-left.png") no-repeat scroll left center;
    background-size: 100% 100%;
    border: medium none;
    font-size: 11px;
    height: 21px !important;
    line-height: 11px;
    opacity: 1 !important;
    padding-left: 2px;
    padding-top: 2px;
    position: relative;
    text-indent: 0.01px;
    max-width: 293px;
    width: 100% !important;
  }
}
.page-node-add-sifu{
  #field-lineage-information-values{
    .form-submit{
      margin-top: 10px;
    }
  }
  #edit-field-lineage-information-und-add-more{
    margin-top: 10px;
  }
  #edit-field-system,#edit-taxonomy-vocabulary-9,#edit-taxonomy-vocabulary-11{
    .form-select {
      -moz-appearance: none;
      background: transparent url("../images/select-left.png") no-repeat scroll left center;
      background-size: 100% 100%;
      border: medium none;
      font-size: 11px;
      height: 21px !important;
      line-height: 11px;
      opacity: 1 !important;
      padding-left: 2px;
      padding-top: 2px;
      position: relative;
      text-indent: 0.01px;
      max-width: 293px;
      width: 100% !important;
    }
  }
}

.page-node-edit{
.field-type-image{
  th{
    padding: 10px;
  }
  thead{
    tr{
      height: auto !important;
    }
  }
  .image-preview {
    float: left;
    padding: 10px 10px 10px 0;
    text-align: center;
    width: 20%;
  }
  .image-widget-data {
    float: left;
    width: 70%;
    padding-left: 2%;
    border-left: 1px solid #666;
    margin-top: 10px;
    .form-text{
      width: 95%;
    }
  }
  tr{
    position: relative;
    height: 170px;
    .form-submit{
      /*position: absolute;
      left: 25%;
      bottom: 10px;*/
      margin-top: 100px;
      background: #1D58A8;
      color: #fff;
      border: none;
      padding: 3px 7px;
      border-radius: 4px;
    }
  }
}
}
#user-login{
  .form-text{
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
    height: 26px;
    margin: 0 0 10px;
    max-width: 280px;
    padding: 5px;
    width: 98%;
    max-width: 280px;
  }
  label{
    font-size: 14px;
    font-weight: 400;
  }
  .form-submit{
    background: #1d58a8 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff !important;
    cursor: pointer;
    font-size: 14px !important;
    margin-top: 0;
    padding: 10px 40px;
  }
  .form-submit:hover{
    background: #1266D6;
  }
}
.form-select{
  -webkit-appearance: none;
  appearance: none;
}
.l-main{
  .l-content {
    .tabs--primary {
      width: 100%;
      li {
        width: 16%;
        padding: 0;
        margin: 0 2px !important;
        background-size: 100% 100%;
        a{
          background-size: 100% 100%;
          width: 100%;
          padding: 0;
        }
      }
      li.active a{
        background-size: 100% 100% !important;
        width: 100%;
      }
    }
  }
}
