body {
  background: url("../images/leftleave.jpg") no-repeat scroll left top,url("../images/rightleave.jpg") no-repeat right top;
  background-color: #EBE9E1;
  color: #666;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  .l-page {
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    overflow: hidden;
    width: 77%;
    max-width: 980px;
    margin: 0 auto;
    .l-main{
      overflow: hidden;
      padding: 0 2%;
    }
  }
  .has-sidebar-second .l-content {
    float: left;
    margin-right: 2%;
    width: 58%;
  }

  .has-sidebar-second .l-region--sidebar-second {
    width: 40%;
    float: left;
  }
}
.admin-sw{
  .l-page{
    padding-top: 25px;
  }
}
#wrapper{
  padding: 20px 2%;
  overflow: hidden;
}
.top_header{
  #block-block-13{
    width: 60%;
    margin: 0 auto;
    ul{
      padding: 0;
      margin: 0;
      li{
        float: left;
        margin: 0 -1px 0 0;
        list-style: none;
        width: 24%;
        text-align: center;
        border:solid 1px #e6e6e6;
        border-radius:0 0 5px 5px;
        a{
          background: #f8f8f8;
          font-size: 12px;
          color: #666;
          display: block;
          text-decoration: none;
          padding: 10px 2%;
        }
        a:hover{
          font-weight: 700;
          background: #d2d2d2;
        }
      }
    }
  }
  #block-block-12{
    float: right;
    margin: 10px 20px 0 0;
    ul{
      padding: 0;
      margin: 0;
      li{
        float: left;
        list-style: none;
        margin-right: 5px;
        a{
          display: block;
          background-repeat: no-repeat;
          width: 35px;
          height: 33px;
          font-size: 0;
        }
        .facebook{
          background: url("../images/fb-icon.jpg");
        }
        .twitter{
          background: url("../images/tw-icon.jpg");
        }
        .email{
          background: url("../images/email-icon.jpg");
        }
      }
    }
    #links{
      clear: both;
      padding-top: 10px;
      a{
        padding: 0 5px;
        color: #052756;
        font-size: 12px;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
  #block-block-15 {
    width: 100%;
  p{
    margin: 0;
    line-height: 30px;
  }
    #leaderboard {
      background: #dedede none repeat scroll 0 0;
      color: #666;
      float: left;
      font-family: TrajanProBold;
      font-size: 11px;
      height: 30px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }
}
header {
  .l-branding {
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
    .site-logo{
      margin-left: 2%;
    }
    .l-region--branding{
      width: 100%;
      position: relative;
      margin: 0;
    }
  }
  .l-region--header{
    float: right;
    width: 75%;
  }
  #links{
    display: none;
  }
  #block-block-8{
    float: left;
  }
  #block-block-11 {
    display: none;
  }
  #block-search-form {
    height: 28px;
    padding: 5px 10px 0 10px;
    background: #d2d2d2;
    float: right;
    margin-top: 55px;
    #search-block-form {
      .container-inline {
        border-radius: 0;
        background: none;
        box-shadow: none;
        padding: 0;
      }
      .form-text {
        background: #fff;
        border: medium none;
        font-size: 11px;
        height: 20px;
        padding: 0 6px;
        width: 161px;
        border-radius: 2px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5) inset;
      }
      #edit-submit {
        background: transparent url("../images/searchicon.jpg") no-repeat scroll 0 0;
        border: medium none;
        cursor: pointer;
        float: right;
        margin-left: 10px;
        height: 23px;
        width: 18px;
        font-size: 0;
      }
      .form-item-search-block-form:before {
        content: "Search:";
        color: #666;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}
#block-system-main-menu{
  background: #17335b;
  clear: both;
  overflow: hidden;
  ul{
    padding: 0;
    margin: 0;
    width: 100%;
    li{
      list-style: none;
      float: left;
      a{
        color: #fff;
        display: block;
        line-height: 44px;
        padding: 0 15px;
        text-decoration: none;
      }
      a.active{
        background: #1c57a7;
      }
    }
  }
}

.above_content {
  overflow: hidden;
}
#block-block-10{
  .tocontribute {
    border-right: 1px solid #c4c4c4;
    color: #17335b;
    float: left;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 0;
    width: 40%
  }
  .register-link {
    background: #1C57A7;
    border: medium none;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-size: 14px !important;
    height: 37px;
    line-height: 37px;
    margin: 15px 0 0 25px;
    text-align: center;
    width: 87px;
  }
  .register-link:hover{
    background: #1266D6;
  }
  h1{
    color: #1c57a7;
    font-family: "Trajan Pro Bold";
    font-size: 23px;
    font-weight: normal;
    text-transform: uppercase;
    span{
      color: #116201;
    }
  }
  .banner-top {
    margin-bottom: 20px;
  }

  .banner-top > div {
    box-sizing: border-box;
    width: 50%;
  }
  .banner-top-left {
    color: #8d8d8d;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: auto;
    line-height: 25px;
    padding: 15px 0 0;
    text-align: left;
  }
  .banner-top-right {
    background: rgba(0, 0, 0, 0) url("../images/bg01.jpg") repeat-x scroll left center;
    color: #052756;
    float: right;
    margin: 10px 0 0;
    padding: 15px 20px;
     .usrname {
      float: left;
       margin-top: 20px;
    }
  }
  .loginbtn {
    background: #aeaeae none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    float: right;
    line-height: 37px;
    margin: 15px 8px;
    padding: 0 25px;
    text-decoration: none;
  }
  .loginbtn:hover{
    background:#404040 ;
  }
  .browse-table {
    h2 {
      color: #116201;
      font-family: "Trajan Pro Bold";
      font-size: 22px;
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;
    }
    p{
      color: #1c57a7;
      font-size: 16px;
      font-weight: 700;
    }
    .browsetable-box {
      background-color: #f2f2f2;
      border: 1px solid #ddd;
      box-sizing: border-box;
      float: left;
      width: 25%;
      padding: 10px;
      text-align: center;
      p.browse-heading {
        color: #434242;
        font-family: "Trajan Pro";
        font-size: 20px;
        letter-spacing: -1px;
        line-height: 22px;
        margin: 0;
        padding-bottom: 7px;
        text-align: center;
        text-transform: uppercase;
      }
      div {
        display: inline;
        margin: 16px;
        text-align: center;
        a{
          text-decoration: underline;
          color: #1c57a7;
          font-family: Arial;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
#block-views-sifu-block-2,#block-views-local-resources-block-1{
  clear: both;
  padding-bottom: 30px;
  position: relative;
  .block__title{
    background: rgba(0, 0, 0, 0) url("../images/thelatest-left-topbg.jpg") no-repeat scroll left top;
    background-size: 100% 100%;
    color: #1c57a7;
    font-family: TrajanProBold;
    font-size: 17px;
    font-weight: normal;
    height: 44px;
    letter-spacing: -1px;
    padding: 5px 0 0 14px;
    text-transform: uppercase;
  }
  table{
    width: 100%;
    margin: 0 auto;
  }
  thead{
    background: #f8f8f8 none repeat scroll 0 0;
    line-height: 40px;
    th{
      padding: 0 10px;
    }
  }
  tr {
    td {
      padding-left: 10px;
      a{
        color: #1c57a7;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px !important;
        text-decoration: underline;
      }
    }
  }
  .odd{
    background: #ededed none repeat scroll 0 0;
    height: 44px;
  }
  .even{
    background: #f8f8f8 none repeat scroll 0 0;
    height: 44px;
  }
}
.l-region--sidebar-second{
  #block-quicktabs-the-latest{
    h2{
      color: #1c57a7;
      font-family: TrajanProBold;
      font-size: 17px;
      font-weight: normal;
      letter-spacing: -1px;
      margin-bottom: 8px;
      text-transform: uppercase;
      span{
        color: #116201 !important;
        font-family: TrajanProBold;
        font-size: 17px;
        font-weight: normal;
        letter-spacing: -1px;
      }
    }
    li{
      border: medium none !important;
      color: #666;
      float: left;
      font-family: Arial !important;
      font-size: 12px !important;
      height: 50px !important;
      line-height: 19px;
      margin:0 1% 0 0 !important;
      padding: 0 !important;
      text-align: center;
      white-space: normal;
      width: 24%;
      a{
        background: transparent url("../images/tab-bg.png") repeat-x left top;
        color: #666;
        display: block;
        border: none;
        font-family: Arial !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        line-height: 50px !important;
        overflow-wrap: normal;
        text-align: center;
        height: 50px !important;
        line-height: 50px !important;
        width: 100%;
        padding: 0;
        text-decoration: none;
      }
      a:hover{
        background: #f8f8f8;
      }
    }
    li:last-child{
      margin: 0 !important;
      width: 25%;
    }
    li.active a{
      background: #F8F8F8;
      color: #116201 !important;
    }
    #quicktabs-container-the_latest{
      background:#F8F8F8;
      padding: 20px 0 2% 15px;
    }
    .view-content{
      color: #666;
      font-family: Arial;
      font-size: 12px;
      line-height: 19px;
      .views-field-field-sifu{
        float: left;
        .views-label{
          float: left;
          margin-right: 5px;
        }
        .field-content{
          float: left;
        }
      }
      .views-field-created{
        float: left;
        margin-left: 5px;
      }
      a{
        color: #1c57a7;
        font-family: Arial;
        font-size: 12px;
        text-decoration: underline;
      }
      .views-row{
        padding-bottom: 12px;
        overflow: hidden;
      }
    }
  }
}
.under_content{
  clear: both;
  padding: 20px 2%;
  #block-views-videos-block-2{
    background: url("../images/videobg.jpg") repeat-y center center;
    background-size: cover;
    padding: 20px 2%;
    .views-row{
      float: left;
      width: 23%;
      margin-right: 2%;
      text-align: center;
      .views-field-title{
        text-align: center;
        a{
          color: #1c57a7;
          font-family: Arial;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .more-link{
      display: none;
    }
  }
}
footer{
  clear: both;
  width: 100%;
  background: #414348 none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 13px;
  height: 155px;
  padding: 20px 0 0;
  #block-menu-menu-footer-links{
    overflow: hidden;
    width: 630px;
    margin: 0 auto;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none !important;
      list-style-image:none;
      float: left;
      a{
        border-left: 1px solid #fff;
        color: #fff;
        display: inline;
        font-size: 13px;
        letter-spacing: -1px;
        padding: 0 6px;
        text-decoration: none;
      }
      .active {
        color: #fff;
      }
    }
    li.first{
      a{
        border: none;
      }
    }
  }
  #block-block-14{
    text-align: center;
  }
}