@media screen and (max-width: 480px){
  header{
    #block-block-11{
      margin: 0 2px 0 0 !important;
    }
    #block-search-form{
      padding: 5px 3px 0;
      width: 235px !important;
      margin-left: 3px !important;
      .form-text{
        width: 150px !important;
      }
    }
    #block-search-form #search-block-form .form-item-search-block-form::before{
      font-size: 10px;
    }
  }
  #block-block-10{
    .register-link,.loginbtn{
      font-size: 12px !important;
      width: 65px;
      height: 30px;
      line-height: 30px;
      padding: 0;
      text-align: center;
    }
    .tocontribute{
      font-size: 12px;
    }
  }
  .page-sifus table td.views-field-body-1{
    display: none;
  }
}
@media screen and (max-width: 768px){
  body{
    background: #ebe9e1 !important;
    .l-page {
      width: 100%;
      border: none;
    }
    .has-sidebar-second{
      .l-content,.l-region--sidebar-second{
        margin: 0;
        width: 100%;
        float: none;
      }
    }
  }
  .top_header{
    #block-block-13 {
      margin: 0 auto;
      width: 95%;
      ul{
        li{
          width: 49%;
          margin-bottom: 10px;
        }
      }
    }
    #block-block-12{
      float: none;
      width: 120px;
      margin: 0 auto;
      #links{
        width: 110px;
        margin: 0 auto;
      }
    }
  }
  header {
    .l-branding {
      float: none;
      margin: 0 auto;
      width: 100%;
      .site-logo{
        width: 205px;
        margin: 10px auto;
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
      .l-region--branding{

      }
    }

    .l-region--header {
      float: none;
      width: 100%;
    }
    #block-block-11{
      float: right;
      margin-right: 20px;
      display: block;
      button{
        background: #17335b;
        border: none;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px;
      }
    }
    #block-block-8{
      text-align: center;
      clear: both;
      float: none;
      width: 100%;
      margin-left: 0;
    }
    #block-search-form{
      width: 260px;
      float: left;
      margin: 15px 0 0 20px;
      clear: none;
    }
  }
  #block-system-main-menu{
    display: none;
  }
  .active_menu{
    #block-system-main-menu{
      display: block;
      width: 100%;
      li{
        float: none;
        width: 100%;
      }
    }
  }
  #block-block-10{
    .banner-top-left,.banner-top-right{
      float: none;
      width: 100%;
      clear: both;
      overflow: hidden;
    }
    .browse-table{
      .browsetable-box{
        width: 50%;
        p.browse-heading{
          font-size: 18px;
        }
      }
    }
    .banner-top > div{
      width: 100% !important;
    }

    .l-region--sidebar-second{
      #block-quicktabs-the-latest{
        h2{
          text-align: center;
        }
        li{
          a{
            font-size: 11px;
          }
        }
      }
    }
  }

  .under_content{
    #block-views-videos-block-2{
      .views-row{
        float: none;
        width: 90%;
        margin: 0 auto 20px !important;
      }
    }
  }
  .l-footer{
    overflow: hidden;
    height: auto;
    padding: 10px 0;
    #block-menu-menu-footer-links{
      width: 90%;
      ul{
        li{
          float: none;
          text-align: center;
          list-style-image: none;
          list-style-type: none;
          margin-bottom: 5px;
          a{
            border: none;
          }
        }
      }
    }
  }
  .page-sifus{
    .l-page {
      .views-field-taxonomy-vocabulary-9 {
        display: none;
      }
      .view-sifu {
        .view-header {
          .sifuheaderleft {
            float: none;
            width: 90%;
          }
          .sifuheaderright {
            float: none;
            width: 40%;
            max-width: 210px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:960px){
  body{
    .l-page{
      width: 100% !important;
      border: none;
      .l-main {
        width: 96%;
        background: #ebe9e1;
      }
      .l-region--sidebar-second{
        #block-quicktabs-the-latest li a{
          font-size: 11px !important;
        }
      }
    }
  }

  #block-block-10{
    .banner-top > div {
      box-sizing: border-box;
      width: 49%;
    }
    .register-link{
      margin: 15px 0 0 10px;
    }
    .banner-top-right{
      padding: 15px 10px;
    }
  }
}

@media screen and (min-width:769px) and (max-width: 1180px){
body{
  background-size: 50% auto;
}
  .top_header{
    #block-block-13 {
      margin: 0;
      width: 80%;
    }
  }
  header{
    .l-branding {
      float: none;
      width: 205px;
      margin: 0 auto 20px;
      overflow: hidden;
      clear: both;
    }
    .l-region--header{
      float: none;
      width: 100%;
      #block-search-form{
        margin-top: 35px;
        margin-right: 20px;
        max-width: 255px;
        min-width: 255px;
      }
    }
  }
  #block-system-main-menu{
    ul{
      li{
        a{
          padding: 0 10px;
          font-size: 12px;
        }
      }
    }
  }
}
@media screen and (max-width:1180px){
  body .l-page{
    width: 90%;
  }
}