@media screen and (max-width: 320px) {
  .node-type-video {
    .l-main{
    .field--name-field-emvideo {
      width: 95%;
      margin: 20px auto;
      iframe {
        width: 100% !important;
        height: 200px !important;
      }
    }
  }
  }
  .l-page #block-block-10 .browse-table .browsetable-box p.browse-heading {
    font-size: 17px;
  }
  .page-blog{
    .l-page{
      .l-main{
        .view-Blogs{
          .view-header{
            /*min-height: 145px;*/
            .sifuheaderright {
              /*margin-top: -440px !important;*/
              margin-top: -550px !important;
            }
          }
        }
      }
    }
  }
 .page-articles{
   .l-page{
     .view-header{
       .sifuheaderright {
         /*margin-top: -300px;*/
         margin-top: -430px!important;
       }
     }
     .view-article .view-filters {
       margin-top: 40px;
     }
   }
 }
  .page-node-add-sifu {
    .l-page{
      #edit-field-profile-img, #edit-field-img-certification {
        .form-submit{
          margin-right: 100%;
          margin-top: 10px;
        }
        .form-text{
          width: 260px;
        }
      }
    }
    #field-lineage-information-values{
    }
  }
}

@media screen and (max-width: 375px) {
  .page-blog .l-page .l-main .l-content .view-Blogs .view-header .sifuheaderright {
    margin-top: -530px;
  }
  .section-articles{
    .l-page .l-main .view-header{
      .sifuheaderright {
        margin-top: -400px;
      }
      .sifuheaderleft {
        margin-top: 230px;
      }
    }
    .l-page .l-main .view-article .view-filters {
      margin-top: 120px;
    }
  }
}

@media screen and (max-width: 385px) {
  .page-sifus {
  .l-page .view-header .sifuheaderright {
    margin-top: -320px;
  }
}
  .l-page{
     .l-main{
       .review-left{
         width: 25%;
         float: none;
       }
       .review-content{
         margin-top: 25px;
       }
       .review-right{
         width: 100%;
         float: none;
       }
       .review-headingbg{
         .review-hcenterbg{
           .centerleft{
             float: none;
           }
           .centerright{
             float: left;
             clear: both;
           }
         }
       }
     }
  }
}

@media screen and (max-width: 440px){
  .node-type-sifu{
    .review-headingbg{
      .review-hcenterbg{
        height: auto;
        padding: 5px 0;
        margin-bottom: 10px;
        .centerright{
          float: left;
          clear: both;
          margin-left: 1%;
        }
      }
    }
  }
  .page-videos .l-page .l-main .view-header .sifuheaderright {
    margin-top: -350px !important;
  }
}

@media screen and (max-width: 480px){
  header{
    #block-block-11{
      margin: 0 0 0 2px !important;
    }
    #block-search-form{
      padding: 5px 3px 0;
      width: 235px !important;
      margin-left: 0 !important;
      margin-right: 3px !important;
      .form-text{
        width: 150px !important;
      }
    }
    #block-search-form #search-block-form .form-item-search-block-form::before{
      font-size: 10px;
    }
  }
  #block-block-10{
    .register-link,.loginbtn{
      font-size: 12px !important;
      width: 65px;
      height: 30px;
      line-height: 30px;
      padding: 0;
      text-align: center;
    }
    .tocontribute{
      font-size: 12px;
    }
  }
  .page-sifus{
    table{
      .views-field-changed {
        display: none !important;
      }
      th.views-field-title{
        position: relative !important;
      }
      td{
        width: 42% !important;
        font-size: 11px;
      }
    }
  }
  .page-schools-list{
    .views-field-province,.views-field-city,.views-field-field-link-resource-url{
      display: none;
    }
  }
  .page-videos{
    .l-page{
      .view-videos table td {
        width: 98%;
      }
    }
    .l-page .l-main .view-header .sifuheaderright {
      margin-top: -330px;
    }
  }
  .l-page{
    .l-main{
      .l-content{
        .view-header{
          .sifuheaderright {
            float: none !important;
            width: 80% !important;
            max-width: 80%;
          }
        }
      }
    }
  }
  .node-type-sifu {
    .l-page{
    .primary-part {
      .primary-top {
        font-size: 12px;
        background-size: 100% 100%;
        height: 20px;
      }
      .primary-center {
        .primary01 {
          .mprimary {
            .primary01-left, .primary01-midle, .primary01-rgt {
              font-size: 12px;
            }
          }
          .lineage-text {
            font-size: 12px;
          }
        }
      }
    }
  }
    .certification-left{
      h3{
        font-size: 12px;
      }
    }
    .review-headingbg .review-hcenterbg {
      width: 100%;
    }
  }
  .node-type-blog {
    .l-page {
      .l-main {
        .articletitle-leftp {
          .articalmain {
            .middleleft {
              float: none;
              .middleleftimg{
                width: 100%;
              }
              .middleleftimg1{
                position: relative;
                width: 100%;
                right: 0;
              }
            }
          }
        }
      }
    }
    }

  .page-articles{
    .l-page {
      .l-main{
      .view-article {
        margin-top: -50px;
        .view-filters .views-exposed-form {
          width: 100%;
        }
      }
    }
    }
  }


  .node-type-article  {
    .articletitle-leftp {
      .articalmain{
      .middle {
        .middleleft {
          margin-right: 0;
          padding-right: 0;
          width: 100%;
          float: none;
          .middleleftimg {
            width: 100%;
          }
          .middleleftimg1 {
            float: none;
            clear: both;
            width: 100%;
            span {
              left: 40%;
              bottom: 30%;
            }
          }
        }
      }
    }
    }
  }
  #block-views-videos-block-2 {
    .views-row {
      width: 90% !important;
      margin: 0 auto 20px !important;
      float: none !important;
    }
  }
  .page-blog {
    .l-main{
    .view-Blogs .wingchunblogs-bcenter {
      margin-top: 0;
      margin-bottom: 20px;
      width: 96%;
    }
      .wingchunblogs-bright{
        display: none;
      }
      .blog_mobile_image{
        display: block;
        clear: both;
      }
    .view-Blogs .wingchunblogs-bleft {
      display: none;
    }
  }
    .l-page .l-main .view-Blogs .view-header .sifuheaderright {
      /*margin-top: -440px;*/
      margin-top: -505px;
    }
  }
  .node-type-video {
    .field--name-field-emvideo{
      width: 95%;
      margin: 20px auto 0;
    iframe {
      width: 100% !important;
      height: 270px !important;
    }
  }
  }
  .page-user{
    .l-page{
      .user-left{
        float: none;
        width: 100%;
        .user-detail-left{
          float: none;
          width: 100%;
        }
        .user-detail-midle{
          float: none;
          width: 100%;
          margin-top: 20px;
        }
        .user-detail-right {
          float: none;
          width: 100%;
        }
        .blog-part{
          .blog-part-left {
            float: none;
            width: 100%;
          }
          .blog-part-right {
            float: none;
            width: 100%;
            .blog-topleft {
              float: none;
              width: 100%;
            }
            .blog-topright {
              float: none;
              width: 100%;
              padding-top: 0;
              margin-bottom: 10px;
            }
          }
        }
      }

    }
  }
  .l-page .l-main .l-content .tabs--primary li {
    width: 48% !important;
  }
  .section-school{
    .l-page {
      .l-main{
      .productname-left, .schoolname-r {
        float: none;
        width: 100%;
        max-width: 100%;
      }
    }
    }
  }
  .l-page{
    .review-headingbg{
      width: 100%;
      .review-hcenterbg .centerleft a{
        font-size: 13px;
      }
    }
    .review-content{
      width: 100%;
      .usearname-title{
        a{
          font-size: 13px;
        }
      }
      .usearcontent{
        font-size: 11px;
      }
    }
  }
  .page-user-track {
    tr td:last-child,tr th:last-child{
      display: none;
    }
  }
  .section-node-edit{
    .l-page .l-main .l-content{
      #edit-field-profile-img-und-table{
        tr{
          width: 100%;
          overflow: hidden;
        }
        .form-item {
          white-space: normal;
        }
      }
    }
  }
}

@media screen and (max-width: 570px){
  .section-node-edit{
    .l-page .l-main{
      #edit-field-profile-img-und-table{
        tr{
          width: 400px;
        }
      }
    }
  }
  .cke_button{
    white-space: normal !important;
  }
}

@media screen and (min-width: 768px){
  .page-blog .view-Blogs .view-header {
    margin-bottom: 140px !important;
  }
}
@media screen and (max-width: 768px) {
  #block-system-main-menu {
    display: none;
  }
  header {
    #block-block-11 {
      float: right;
      margin-right: 20px;
      display: block;
      button {
        background: #17335b;
        border: none;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px;
      }
    }
  }
  body {
    .l-page {
      width: 100%;
      border: none;
      .breadcrumb {
        padding-left: 2%;
        clear: both;
        float: left;
        width: 98%;
      }

      #block-views-exp-blogs-page-1 {
        .views-widget-filter-keys, .views-widget-filter-tid {
          float: none;
          width: 100%;
        }
      }

    }
    .has-sidebar-second {
      .l-content, .l-region--sidebar-second {
        margin: 0;
        width: 100% !important;
        float: none !important;
      }
    }
  }
  .top_header {
    #block-block-13 {
      margin: 0 auto;
      width: 95%;
      ul {
        li {
          width: 49%;
        }
        li.first, li.second {
          border-bottom: none !important;
          border-radius: 0 !important;
        }
      }
    }
    #block-block-12 {
      float: none;
      width: 120px;
      margin: 0 auto;
      clear: both;
      padding-top: 10px;
      #links {
        width: 110px;
        margin: 0 auto;
      }
    }
  }
  header {
    .l-branding {
      float: none;
      margin: 0 auto;
      width: 100%;
      .site-logo {
        width: 205px;
        margin: 10px auto;
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .l-region--header {
      float: none;
      width: 100%;
    }
    #block-block-11 {
      float: left !important;
      margin-right: 0 !important;
      display: block;
      button {
        background: #17335b;
        border: none;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px;
      }
    }
    #block-block-8 {
      text-align: center;
      clear: both;
      float: none;
      width: 100%;
      margin-left: 0;
    }
    #block-search-form {
      width: 260px;
      float: right;
      margin: 15px 20px 0 0;
      clear: none;
    }
  }
  #block-block-10 {
    .banner-top-left, .banner-top-right {
      float: none;
      width: 100%;
      clear: both;
      overflow: hidden;
    }
    .browse-table {
      .browsetable-box {
        width: 50%;
        p.browse-heading {
          font-size: 18px;
        }
      }
    }
    .banner-top > div {
      width: 100% !important;
    }

    .l-region--sidebar-second {
      #block-quicktabs-the-latest {
        h2 {
          text-align: center;
        }
        li {
          a {
            font-size: 11px;
          }
        }
      }
    }
  }

  .under_content {
    #block-views-videos-block-2 {
      .views-row {

      }
    }
  }
  .l-footer {
    overflow: hidden;
    height: auto;
    padding: 10px 0;
    #block-menu-menu-footer-links {
      width: 90%;
      ul {
        li {
          float: none;
          text-align: center;
          list-style-image: none;
          list-style-type: none;
          margin-bottom: 5px;
          a {
            border: none;
          }
        }
      }
    }
    #block-block-16 {
      width: 100%;
      ul {
        padding: 0;
        margin: 0;
        li {
          float: none;
          text-align: center;
          a {
            border: none;
          }
        }
      }
    }
  }
  .page-sifus {
    .l-page {
      .views-field-taxonomy-vocabulary-9 {
        display: none;
      }
      table tr.even td {
        border: none;
      }
      .view-sifu .view-filters {
        margin-top: 20px;
        top: 0 !important;
        .views-submit-button {
          clear: both;
        }
        label {
          float: none;
        }
      }
      table {
        width: 100%;
        td.views-field-body-1, th.views-field-body-1 {
          display: none;
        }
      }
      td {
        width: 25%;
        display: block;
        float: left;
      }
      th {
        display: block;
        float: left;
      }
      th.views-field-title {
        width: 58%;
        margin-left: 0;
        padding-left: 2%;
      }
      th.views-field-changed {
        width: 40%;
        float: right;
        position: relative;
        right: 3%;
        img {
          display: none;
        }
      }
    }
  }
  .page-videos {
    .l-page .view-header {
      height: 320px;
      .sifuheaderright {
        margin-top: -320px;
      }
    }
    .view-videos {
      .view-filters {
        width: 100% !important;
        #edit-title-wrapper, #edit-tid-wrapper {
          float: none;
          width: 100% !important;
        }
      }
    }
  }
  .l-page {
    .view-header {
      margin-bottom: 0 !important;
      .sifuheaderleft {
        float: none !important;
        width: 90% !important;
        margin-bottom: 30px;
        h2 {
          float: none !important;
        }
      }
      .sifuheaderright {
        float: none !important;
        width: 40% !important;
        max-width: 210px;
        background-position: 0 0 !important;
        .addavideo {
          margin-top: 25px;
        }
      }
    }
    .view-local-resources .view-filters {
      margin-top: 20px !important;
    }
    .view-videos .view-filters {
      margin-top: 20px !important;
    }
  }

  .page-articles {
    .l-page {
      .view-header .sifuheaderright {
        margin-top: -375px;
      }

      .view-article {
        margin-top: -20px;
        .view-filters {
          /*margin-top: 20px;*/
          margin-top: 70px;
          .views-exposed-widget {
            margin-top: 10px;
          }
        }
      }
      .view-article {
        .main-history {
          background: none;
          .history-left {
            float: none;
            width: 100%;
            background: #F8F8F8;
            overflow: hidden;
            .history-mid {
              .history-right1 {
                margin-top: 20px;
                float: left;
                width: 100%;
                text-align: left;
              }
            }
          }
          .history-right {
            float: none;
            width: 100%;
            overflow: hidden;
            padding-bottom: 20px;
          }
          .history-right .posted-mid {
            text-align: center !important;
            padding-left: 0;
          }
        }
      }
    }
  }
  .page-blog {
    .l-page {
      #block-views-exp-blogs-page-1 {
        margin-top: 150px;
        .views-exposed-widgets {
          /*top:0 !important;*/
        }
      }
      .view-Blogs {
        .view-header {
          overflow: visible;
          /*min-height: 130px;*/
          min-height: 245px;
          margin-top: 0;
          .sifuheaderleft {
            clear: both;
            margin-bottom: 0;
            margin-top: 0;
          }
          .sifuheaderright {
            /*margin-top: -420px;*/
            margin-top: -495px;
          }
        }
      }
      .pager {
        margin-top: 0;
      }
    }
  }
  .page-blog .view-Blogs .wingchunblogs-bleft {
    float: left;
    height: auto;
    margin-right: 0;
    width: 20%;
  }
  .page-blog .view-Blogs .wingchunblogs-bright {
    text-align: left;
    padding-left: 0;
  }
  .page-blog .view-Blogs .wingchunblogs-bcenter {
    float: left;
    width: 60%;
    height: auto;
    padding: 15px 13px 0 10px;
  }

  .page-blog .view-Blogs .blog-coment {
    clear: both;
    float: left;
    margin: 20px 0 7px;
  }
  .page-blog .view-Blogs .wingchunblogs-boxcbg {
    padding-bottom: 20px;
  }
  .page-schools-list {
    .views-field-field-profile-img, .views-field-changed {
      display: none;
    }
    .l-page .view-header .sifuheaderleft {
      margin-top: 240px;
    }
    .l-page .view-header .sifuheaderright {
      margin-top: -350px;
    }
  }

  .node-type-sifu {
    .l-page {
      .bottom-border {
        margin-top: 0;
      }
      .commonname {
        .common-left, .common-midle, .common-right {
          width: 100%;
          float: none;
          margin: 0 0 20px 0;
          img {
            width: auto !important;
          }
        }
        .common-midle {
          margin-bottom: 0 !important;
        }
        .common-right .common-right-2 {
          float: left;
        }
        .common-right .common-right-lft, .common-right .common-right-2 {
          width: auto;
          margin-right: 5px;
        }
        .comon-btom {
          clear: both;
          width: 100%;
        }
      }
      .primary-part {
        .primary-partleft {
          width: 100%;
        }
      }
      .student-sifus {
        .student-left, .student-midle, .student-right {
          float: none;
          width: 100%;
          margin: 0 0 20px 0;
          max-width: 280px;
        }
      }
      .primary-partright {
        margin-left: 0;
        width: 232px;
        margin-top: 20px;
      }
    }
  }
  .section-school {
    .l-page {
      .schoolname-left {

      }
      .productname-left {

      }
      .schoolname-r {

      }
      .reviews-rightp {
        float: left;
        width: 100%;
      }
    }
  }
  .node-type-article, .node-type-blog {
    .l-page {
      .articletitle-leftp {
        float: none;
        margin: 20px 0 0;
        padding: 0;
        width: 100%;
      }
      .artical-rightmain {
        border-left: none;
        border-top: 1px solid #ededed;
        float: none;
        height: auto;
        margin: 0;
        width: 100%;
        max-width: 230px;
        .middle-center {
          float: left;
        }
        .recentvideos, .relatedproducts, .recentarticles {
          background-size: auto;
          background-position: center 10px;
        }
        .yca {

        }
      }
    }
  }

  .node-type-blog {
    .l-page {
      .articletitle-leftp {
        .articalmain {
          .middleleft {
            float: none;
            overflow: visible;
            margin-right: 0;
            padding-right: 0;
            width: 100%;
            position: relative;
            .blogfpo {
              float: left;
              clear: both;
            }
            .middleleftimg {
              width: 48%;
              img {
                width: 100%;
                height: auto;
              }
            }
            .middleleftimg1 {
              width: 48%;
              position: absolute;
              right: 2%;
              top: 15px;
              span {
                left: 40%;
                top: 26%;
              }
            }
          }
          .middle-center {
            clear: both;
          }
        }
      }
    }
    .review-headingbg, .review-content {
      width: 100%;
      .review-right {
        float: left;
        width: 100%;
      }
    }
    .review-headingbg .review-hcenterbg .centerright {
      float: left;
      clear: both;
    }
    .review-content .review-left {
      margin-top: 30px;
    }
  }
  .node-type-article {
    .articletitle-leftp {
      .middle {
        .articalmain {
          .middle-center {
            float: left;
          }
        }
        .middleleft {
          margin-right: 0;
          padding-right: 0;
          width: 100%;
          .middleleftimg {
            width: 48%;
            float: left;
            .left {
              width: 100%;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
          .middleleftimg1 {
            float: right;
            clear: none;
            width: 48%;
            span {
              left: 40%;
              bottom: 27%;
            }
          }
        }
      }
    }

    .review-headingbg, .review-content {
      width: 100%;
      .review-right {
        float: left;
        width: 100%;
      }
    }
    .review-headingbg .review-hcenterbg .centerright {
      float: left;
      clear: both;
    }
    .review-content .review-left {
      margin-top: 30px;
    }
  }
  .page-articles {
    .view-article .view-filters .views-exposed-widget {
      clear: both;
      width: 100% !important;
    }
  }
  .page-schools-list .l-main {
    .view-local-resources .views-widget-filter-country {
      clear: both;
    }
    .view-local-resources .views-widget-filter-province {
      clear: both;
    }
    .view-local-resources .view-filters #edit-keys-wrapper,
    .view-local-resources .views-widget-filter-country,
    .view-local-resources .views-widget-filter-province {
      width: 100%;
    }
    #edit-field-school-lineage-tid-wrapper {
      float: none !important;
      width: 100% !important;
    }
    #edit-keys-wrapper {
      margin-top: 20px;
    }
  }
  .page-node-add {
    .vertical-tabs {
      margin-left: 0;
      ul.vertical-tabs-list {
        float: right;
        width: 100%;
        margin-right: 0;
        text-align: center;
      }
      .vertical-tabs-panes {
        clear: both;
        padding-top: 20px;
      }
    }
    #edit-actions {
      margin-top: 10px;
    }
    .field-multiple-drag {
      display: none;
    }
    .form-select {
      max-width: 70%;
      overflow: hidden;
    }

    .link-field-column {
      float: none;
      width: 100%;
    }
    .description {
      max-width: 70%;
    }
  }
  .l-page {
    .view-header .sifuheaderleft {
      margin-top: 200px;
    }
    .view-header .sifuheaderright {
      margin-top: -300px;
    }
  }
  .node-type-video {
    .l-page {
      .videotitleinner {
        float: none;
        width: 100%;
      }
      .recentvideos-right {
        float: none;
        width: 100%;
        max-width: 235px;
        clear: both;
      }
      .tags .tagright {
        width: 100%;
        float: left;
      }
      .tags .tagleft {
        float: none;
      }
    }
  }
  .page-user {
    .l-page {
      .user-left {
        float: none;
        width: 100%;
      }
      .user-right {
        float: none;
        width: 100%;
        clear: both;
      }
    }
  }
  .l-page .l-main .l-content .tabs--primary li {
    margin: 0 2px 13px 2px !important;
    padding: 0;
    width: 32%;
  }
  .l-page {
    .review-headingbg {
      width: 100%;
    }
  }
  #user_relationships_popup_form {
    width: 85% !important;
    left: 2% !important;
  }
  .section-wiki-categories{
    .l-page{
      .l-main{
        .l-content{
          .encyclopediacategories-right {
            float: none;
            width: 100%;
            clear: both;
          }
        }
      }
    }
  }
  .section-node-edit{
    .l-page .l-main .l-content{
      #edit-field-profile-img-und-table{
        td,.form-item {
          white-space: normal;
          word-wrap: break-word;
        }
      }
    }
  }
}


@media screen and (max-width:960px) {
  .breadcrumb {
    clear: both;
  }
  html{
  body {
    background: #fff !important;
    .l-page {
      .l-header .active_menu {
        #block-system-main-menu {
          display: block;
          width: 100%;
          ul {
            width: 100%;
          }
          li {
            float: none;
            width: 100%;
            margin: 0 !important;
            a {
              padding: 0 !important;
              text-indent: 20px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
  body{
    .l-page{
      width: 100% !important;
      border: none;
      .form-text{
        background: #fff !important;
        max-width: 100%;
        border:solid 1px #BFBFBF;
        height: 26px;
        border-radius: 2px;
      }
      .l-main {
        width: 96%;
      }
      .l-region--sidebar-second{
        #block-quicktabs-the-latest li a{
          font-size: 11px !important;
        }
      }
    }
  }

  body.not-front .l-page .l-main{
    background: #FFFFFF;
  }
  #block-block-10{
    .banner-top > div {
      box-sizing: border-box;
      width: 49%;
    }
    .register-link{
      margin: 15px 0 0 10px;
    }
    .banner-top-right{
      padding: 15px 10px;
    }
  }
  .page-schools-list{
    .l-main{
      table{
        th,th a{
          font-size: 12px;
        }
        td,td a{
          font-size: 11px;
        }
      }
    }
  }
  .section-node-edit{
      .l-page {
        .l-main{
        #edit-field-profile-img-und-table{
          .image-preview {
            float: none;
            padding: 10px 10px 10px 0;
            text-align: left;
            width: 90%;
          }
          .image-widget-data{
            width: 90%;
            float: none;
            border: none;
          }
          tr,th,td{
            display: block;
            height: auto !important;
            white-space: normal;
            word-wrap: break-word;
            .form-submit{
              position: relative;
              left: 0;
              bottom: 0;
              margin-top: 0;
            }
          }
        }
          .form-text,.form-select{
            max-width: 300px;
          }
          #field-lineage-information-values{
            .field-type-list-boolean,.field-type-node-reference{
              float: none;
            }
          }
      }
    }

  }
}

@media screen and (max-width:980px){
  .page-node-add-sifu {
    .l-page{
    #edit-field-profile-img, #edit-field-img-certification {
      .image-preview {
        float: none;
        width: auto;
      }
      .image-widget-data {
        float: none;
        width: auto;
      }
      .form-submit{
        margin-left: 0 !important;
      }
    }
  }
    #field-lineage-information-values{
      .form-wrapper{
        float:none;
        margin-right: 0;
      }
      .field-type-list-boolean{
        margin-top: 15px;
      }
      .form-submit{
        float: left;
        clear: both;
      }
    }
  }

  .page-user-edit .password-strength {
    float: none;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:769px) and (max-width: 1180px){
body{
  background-size: 50% auto;
}
  .top_header{
    #block-block-13 {
      margin: 0;
      width: 80%;
    }
  }
  header{
    .l-branding {
      float: none;
      width: 205px;
      margin: 0 auto 20px;
      overflow: hidden;
      clear: both;
    }
    .l-region--header{
      float: none;
      width: 100%;
      #block-search-form{
        margin-top: 35px;
        margin-right: 20px;
        max-width: 255px;
        min-width: 255px;
      }
    }
  }
  #block-system-main-menu{
    ul{
      li{
        a{
          font-size: 12px;
        }
      }
    }
  }
  .node-type-article {
    .l-page{
    .articletitle-leftp {
      .articalmain {
        .left,.center,.right{
          float: none;
          width: 200px;
        }
      }
    }
  }
  }
}
@media screen and (max-width:1180px) {
  body .l-page {
    width: 90%;
  }
  .node-type-article,.node-type-blog{
    .articletitle-leftp{
      .articalmain{
        .center{
          margin: 10px 0;
          float: none;
        }
        .left,.right{
          float: none;
          width: 200px;
        }
      }
    }
    .middleleftimg,.middleleftimg1{
      min-width: 200px;
      clear: both;
    }
  }
}
