@media screen and (max-width: 480px){
  header{
    #block-block-11{
      margin: 0 2px 0 0 !important;
    }
    #block-search-form{
      padding: 5px 3px 0;
      width: 235px !important;
      margin-left: 3px !important;
      .form-text{
        width: 150px !important;
      }
    }
    #block-search-form #search-block-form .form-item-search-block-form::before{
      font-size: 10px;
    }
  }
  #block-block-10{
    .register-link,.loginbtn{
      font-size: 12px !important;
      width: 65px;
      height: 30px;
      line-height: 30px;
      padding: 0;
      text-align: center;
    }
    .tocontribute{
      font-size: 12px;
    }
  }
  .page-sifus{
    table{
      .views-field-changed {
        display: none !important;
      }
      th.views-field-title{
        position: relative !important;
      }
      td{
        width: 42% !important;
        font-size: 11px;
      }
    }
  }
  .page-videos{
    .l-page{
      .view-videos table td {
        width: 98%;
      }
    }
  }
  .l-page{
    .l-main{
      .l-content{
        .view-header{
          .sifuheaderright {
            float: none !important;
            width: 80% !important;
            max-width: 80%;
          }
        }
      }
    }
  }
  .node-type-sifu {
    .l-page{
    .primary-part {
      .primary-top {
        font-size: 12px;
        background-size: 100% 100%;
        height: 20px;
      }
      .primary-center {
        .primary01 {
          .mprimary {
            .primary01-left, .primary01-midle, .primary01-rgt {
              font-size: 12px;
            }
          }
          .lineage-text {
            font-size: 12px;
          }
        }
      }
    }
  }
  }
  .node-type-blog {
    .l-page {
      .l-main {
        .articletitle-leftp {
          .articalmain {
            .middleleft {
              float: none;
            }
          }
        }
      }
    }
    }

  .page-articles .view-article .view-filters .views-exposed-form {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body {
    .l-page {
      width: 100%;
      border: none;
      .breadcrumb {
        padding-left: 2%;
        clear: both;
        float: left;
        width: 98%;
      }

      #block-views-exp-blogs-page-1{
        .views-widget-filter-keys,.views-widget-filter-tid{
          float: none;
          width: 100%;
        }
      }

    }
    .has-sidebar-second {
      .l-content, .l-region--sidebar-second {
        margin: 0;
        width: 100% !important;
        float: none !important;
      }
    }
  }
  .top_header {
    #block-block-13 {
      margin: 0 auto;
      width: 95%;
      ul {
        li {
          width: 49%;
          margin-bottom: 10px;
        }
      }
    }
    #block-block-12 {
      float: none;
      width: 120px;
      margin: 0 auto;
      #links {
        width: 110px;
        margin: 0 auto;
      }
    }
  }
  header {
    .l-branding {
      float: none;
      margin: 0 auto;
      width: 100%;
      .site-logo {
        width: 205px;
        margin: 10px auto;
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
      .l-region--branding {

      }
    }

    .l-region--header {
      float: none;
      width: 100%;
    }
    #block-block-11 {
      float: right;
      margin-right: 20px;
      display: block;
      button {
        background: #17335b;
        border: none;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px;
      }
    }
    #block-block-8 {
      text-align: center;
      clear: both;
      float: none;
      width: 100%;
      margin-left: 0;
    }
    #block-search-form {
      width: 260px;
      float: left;
      margin: 15px 0 0 20px;
      clear: none;
    }
  }
  #block-block-10 {
    .banner-top-left, .banner-top-right {
      float: none;
      width: 100%;
      clear: both;
      overflow: hidden;
    }
    .browse-table {
      .browsetable-box {
        width: 50%;
        p.browse-heading {
          font-size: 18px;
        }
      }
    }
    .banner-top > div {
      width: 100% !important;
    }

    .l-region--sidebar-second {
      #block-quicktabs-the-latest {
        h2 {
          text-align: center;
        }
        li {
          a {
            font-size: 11px;
          }
        }
      }
    }
  }

  .under_content {
    #block-views-videos-block-2 {
      .views-row {
        float: none;
        width: 90%;
        margin: 0 auto 20px !important;
      }
    }
  }
  .l-footer {
    overflow: hidden;
    height: auto;
    padding: 10px 0;
    #block-menu-menu-footer-links {
      width: 90%;
      ul {
        li {
          float: none;
          text-align: center;
          list-style-image: none;
          list-style-type: none;
          margin-bottom: 5px;
          a {
            border: none;
          }
        }
      }
    }
    #block-block-16{
      width: 100%;
      ul{
        padding: 0;
        margin: 0;
        li{
          float: none;
          text-align: center;
          a{
            border: none;
          }
        }
      }
    }
  }
  .page-sifus {
    .l-page {
      .views-field-taxonomy-vocabulary-9 {
        display: none;
      }
      table tr.even td {
        border: none;
      }
      .view-sifu .view-filters {
        margin-top: 20px;
        top: 0 !important;
      }
      table {
        width: 100%;
        td.views-field-body-1, th.views-field-body-1 {
          display: none;
        }
      }
      td {
        width: 25%;
        display: block;
        float: left;
      }
      th {
        display: block;
        float: left;
      }
      th.views-field-title {
        width: 58%;
        margin-left: 0;
        padding-left: 2%;
      }
      th.views-field-changed {
        width: 40%;
        float: right;
        position: relative;
        right: 3%;
        img {
          display: none;
        }
      }
    }
  }
  .l-page {
    .view-header {
      margin-bottom: 0!important;
      .sifuheaderleft {
        float: none !important;
        width: 90% !important;
        margin-bottom: 30px;
        h2 {
          float: none !important;
        }
      }
      .sifuheaderright {
        float: none !important;
        width: 40% !important;
        max-width: 210px;
      }
    }
    .view-local-resources .view-filters {
      margin-top: 20px !important;
    }
    .view-videos .view-filters {
      margin-top: 20px !important;
    }
  }

  .page-articles {
    .l-page {
      .view-article {
        .main-history {
          background: none;
          .history-left {
            float: none;
            width: 100%;
            background: #F8F8F8;
            overflow: hidden;
            .history-mid{
              .history-right1{
                margin-top: 20px;
                float: left;
                width: 100%;
                text-align: left;
              }
            }
          }
          .history-right {
            float: none;
            display: none;
            width: 100%;
            background: #EDEDED;
            overflow: hidden;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
  .page-blog .view-Blogs .wingchunblogs-bleft {
    float: left;
    height: auto;
    margin-right: 0;
    width: 50%;
  }
  .page-blog .view-Blogs .wingchunblogs-bright {
    width: 48%;
  }
  .page-blog .view-Blogs .wingchunblogs-bcenter {
    float: left;
    height: auto;
    padding: 15px 13px 0 10px;
    width: 90%;
  }

  .page-blog .view-Blogs .blog-coment {
    clear: both;
    float: left;
    margin: 20px 0 7px;
  }
  .page-schools-list {
    .views-field-country, .views-field-province, .views-field-city, .views-field-field-profile-img, .views-field-changed {
      display: none;
    }
  }
  .node-type-sifu {
    .l-page {
      .commonname {
        .common-left, .common-midle, .common-right {
          width: 100%;
          float: none;
          margin: 0 0 20px 0
        }
        .common-right .common-right-lft, .common-right .common-right-2 {
          width: auto;
        }
      }
      .primary-part {
        .primary-partleft {
          width: 100%;
        }
      }
      .student-sifus {
        .student-left, .student-midle, .student-right {
          float: none;
          width: 100%;
          margin: 0 0 20px 0;
          max-width: 280px;
        }
      }
    }
  }
  .section-school {
    .l-page{
    .schoolname-left {
      width: 100%;
      float: none;
    }
    .productname-left {
      float: none;
      width: 100%;
    }
    .schoolname-r {
      float: left;
      width: 100%;
    }
    .reviews-rightp {
      float: left;
      width: 100%;
    }
  }
}
  .node-type-article,.node-type-blog{
    .l-page{
      .articletitle-leftp {
        float: none;
        margin: 20px 0 0;
        padding: 0;
        width: 100%;
      }
      .artical-rightmain {
        border-left: none;
        border-top: 1px solid #ededed;
        float: none;
        height: auto;
        margin: 0;
        width: 100%;
        .middle-center{
          float: left;
        }
        .recentvideos, .relatedproducts,.recentarticles{
          background-size: auto;
          background-position: center 10px;
        }
        .yca{
          text-align: center;
        }
      }
    }
  }

  .node-type-blog {
    .l-page{
    .articletitle-leftp {
      .articalmain {
        .middleleft {
          float: none;
          overflow: visible;
          margin-right: 0;
          padding-right: 0;
          width: 100%;
          .blogfpo{
            float: left;
            clear: both;
          }
          .middleleftimg{
            width: 50%;
            img{
              width: 100%;
              height: auto;
            }
          }
          .middleleftimg1{
            width: 48%;
            position: absolute;
            right: 2%;
            top:20px;
          }
        }
        .middle-center{
          clear: both;
        }
      }
    }
  }
  }
  .node-type-article  {
    .articletitle-leftp{
      .articalmain{
        .middle-center{
          float: left;
        }
      }
    }
  }
}
@media screen and (max-width:960px) {
  #block-system-main-menu {
    display: none;
  }
  .breadcrumb {
    clear: both;
  }
  header {
    #block-block-11 {
      float: right;
      margin-right: 20px;
      display: block;
      button {
        background: #17335b;
        border: none;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px;
      }
    }
  }
  html{
  body {
    background: #fff !important;
    .l-page {
      .l-header .active_menu {
        #block-system-main-menu {
          display: block;
          width: 100%;
          ul {
            width: 100%;
          }
          li {
            float: none;
            width: 100%;
            margin: 0 !important;
            a {
              padding: 0 !important;
              text-indent: 20px;
            }
          }
        }
      }
    }
  }
}
  body{
    .l-page{
      width: 100% !important;
      border: none;
      .form-text{
        background: #fff !important;
        max-width: 100%;
      }
      .l-main {
        width: 96%;
        background: #ebe9e1;
      }
      .l-region--sidebar-second{
        #block-quicktabs-the-latest li a{
          font-size: 11px !important;
        }
      }
    }
  }

  body.not-front .l-page .l-main{
    background: #FFFFFF;
  }
  #block-block-10{
    .banner-top > div {
      box-sizing: border-box;
      width: 49%;
    }
    .register-link{
      margin: 15px 0 0 10px;
    }
    .banner-top-right{
      padding: 15px 10px;
    }
  }
  .page-schools-list{
    .l-main{
      table{
        th,th a{
          font-size: 12px;
        }
        td,td a{
          font-size: 11px;
        }
      }
      .view-local-resources .views-widget-filter-country {
        clear: both;
      }
      .view-local-resources .views-widget-filter-province{
        clear: both;
      }
      .view-local-resources .view-filters #edit-keys-wrapper,
      .view-local-resources .views-widget-filter-country,
      .view-local-resources .views-widget-filter-province{
        width: 100%;
      }
    }
  }
  .page-articles {
    .view-article .view-filters .views-exposed-widget {
     clear: both;
      width: 100% !important;
    }
  }
}
@media screen and (min-width:769px) and (max-width: 1180px){
body{
  background-size: 50% auto;
}
  .top_header{
    #block-block-13 {
      margin: 0;
      width: 80%;
    }
  }
  header{
    .l-branding {
      float: none;
      width: 205px;
      margin: 0 auto 20px;
      overflow: hidden;
      clear: both;
    }
    .l-region--header{
      float: none;
      width: 100%;
      #block-search-form{
        margin-top: 35px;
        margin-right: 20px;
        max-width: 255px;
        min-width: 255px;
      }
    }
  }
  #block-system-main-menu{
    ul{
      li{
        a{
          font-size: 12px;
        }
      }
    }
  }
  .node-type-article {
    .l-page{
    .articletitle-leftp {
      .articalmain {
        .left,.center,.right{
          float: none;
          width: 200px;
        }
      }
    }
  }
  }
}
@media screen and (max-width:1180px) {
  body .l-page {
    width: 90%;
  }
  .node-type-article,.node-type-blog{
    .articletitle-leftp{
      .articalmain{
        .center{
          margin: 10px 0;
          float: none;
        }
        .left,.right{
          float: none;
          width: 200px;
        }
      }
    }
    .middleleftimg,.middleleftimg1{
      min-width: 200px;
      clear: both;
    }
  }
}
