html.js .form-autocomplete{
  background: none !important;
}
.page-schools-list{
  .view-local-resources{
    .views-widget-filter-country{
      float: left;
      width: 35%;
      padding: 0;
      margin-bottom: 10px;
      margin-right: 1%;
    }
    .views-widget-filter-province {
      width: 35%;
      float: left;
      padding: 0;
    }
    label{
      float: none !important;
    }
    .view-header {
      overflow: hidden;
      margin-bottom: -100px;
      .sifuheaderleft {
        float: left;
        width: 70%;
        border-top: 5px solid #f8f8f8;
        h2{
          float: left;
          text-transform: uppercase;
          margin-right: 5px;
          margin-bottom: 0;
        }
        p{
          margin-top: 17px;
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            text-decoration: underline;
            float: left;
            clear: both;
          }
        }
      }
      .sifuheaderright {
        float: right;
        background:url("../images/youcanalso-bg.png") no-repeat;
        background-size: cover;
        padding: 0 10px 10px 10px;
        width: 20%;
        h2{
          color: #116201;
          font-family: Trajan Pro Bold;
          font-size: 15px;
          letter-spacing: -1px;
          text-transform: uppercase;
          margin-top: 0;
        }
        a{

        }
        .addvideobtn{
          a.gobtn-submit{
            border: medium none;
            color: #fff !important;
            cursor: pointer;
            background: #1D58A8;
            padding: 10px 20px;
            border-radius: 4px;
            display: inline-block;
            font-size: 14px !important;
            margin-right: 5px;
            text-decoration: none !important;
          }
          a.gobtn-submit:hover{
            background: #1266D6;
          }
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            overflow-wrap: break-word;
            text-decoration: underline;
          }
        }
      }
    }
    .view-filters{
      .form-select {
        -moz-appearance: none;
        background: transparent url("../images/select-left.png") no-repeat scroll 100% 0;
        border: medium none;
        background-size: 100% 100%;
        font-size: 11px;
        height: 21px !important;
        line-height: 11px;
        margin-left: -2px;
        opacity: 1 !important;
        padding-left: 2px;
        padding-top: 2px;
        position: relative;
        text-indent: 0.01px;
        text-overflow: "";
        width: 100% !important;
        max-width: 293px;
      }
      #edit-field-school-lineage-tid-wrapper{
        float: left;
        width: 35%;
        padding-right: 0;
        margin-right: 1%;
      }
      .description{
        display: none;
      }
      .views-exposed-widget{
      .form-text {
        box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
        border: solid 1px #BFBFBF;
        float: left;
        height: 26px;
        margin: 0 0 10px;
        border-radius: 2px;
        padding: 5px;
        width: 98%;
        max-width: 280px;
      }
      }

      #edit-taxonomy-vocabulary-9-tid-wrapper{
        width: 100%;
      }
      #edit-keys-wrapper{
        width: 35%;
        margin-right: 0;
        padding: 0;
        .views-widget{

        }
      }
      .views-submit-button{
        float: left;
        margin-top: 2px;
        clear: both;
      }
      .views-exposed-widget{
        .form-text{
          max-width: 280px;
        }
      }
      label{
        display: block;
        font-size: 14px;
        font-weight: 400;
        float: left;
        min-width: 120px;
        margin: 0 10px 10px 0;
      }
      .form-submit{
        border: medium none;
        color: #fff !important;
        float: left;
        cursor: pointer;
        background: #1D58A8;
        padding: 10px 40px;
        border-radius: 4px;
        display: inline-block;
        font-size: 14px !important;
        margin-right: 5px;
        margin-top: 0;
        text-decoration: none !important;
      }
      .form-submit:hover{
        background: #1266D6;
      }
    }
  }
  table{
    background: #F8F8F8;
    th.views-field-title{
      padding-left: 10px;
    }
    th{
      color: #17335b;
      font-size: 13px;
      font-weight: 700;
      padding:5px 10px 10px 10px;
      color: #666;
      border-right: solid 1px #fff;
    }
    th.active{
      a{
        img{
          display: none;
        }
      }
    }
    tr{

    }
    td{
      font-size: 12px;
      padding: 5px 10px 10px 10px;
    }
    .views-field-field-profile-img{
      min-width: 100px;
      text-align: center;
    }
    td.active{
      background: none;
    }
    .views-field-changed{
      width: 100px;
      img{
        display: none;
      }
    }
    th{
      background: #F8F8F8;
      a{
        background: #f8f8f8 none repeat scroll 0 0;
        color: #17335b;
        font-size: 13px;
        font-weight: 700;
        height: 31px;
        line-height: 31px;
        text-decoration: none;
      }
      a.active{
        text-decoration: underline;
      }
    }
    tr.even{
      background: #F8F8F8;
      td{
        border-right: solid 1px #fff;
      }
    }
    tr.odd{
      background: #ededed;
    }
    a{
      color: #1c57a7;
      font-family: Arial;
      font-size: 12px;
      font-weight: 400;
      overflow-wrap: break-word;
      text-decoration: underline;
    }
  }
}
.section-school,.section-lineage{
  .schoolname-left{
    float: left;
  }
  .productname-left {
    float: left;
    height: auto;
    margin: 0 2% 0 0;
    padding: 20px 0 0;
    max-width: 50%;
    img{

    }
    .blogfpo {
      float: left;
      height: auto;
      margin: 20px 0 0;
      width: 100%;
      ul{
        padding: 0;
        li{
          list-style: none;
          float: left;
          margin-right: 20px;
        }
      }
    }
  }
  .schoolname-r {
    float: left;
    height: auto;
    max-width: 48%;
    p {
      color: #000;
      font-size: 14px;
      line-height: 15px !important;
      margin: 0;
      font-weight: 700;
      span {
        color: #666;
        font-size: 14px;
      }
    }
  }
  .reviews-rightp {
    float: right;
    height: auto;
    margin: 25px 2% 20px 0;
    overflow: hidden;
    width: 28%;
  }
  .school-moreinfo{
    clear: both;
    margin-bottom: 30px;
    padding-top: 20px;
    h5{
      color: #1c57a7;
      font-family: Trajan Pro Bold;
      font-size: 17px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    p{
      margin: 0;
    }
  }
  .comment-wrapper{
    clear: both;
    padding-top: 20px;
    border-top: 5px solid #f8f8f8;
    h2{
      font-size: 17px !important;
    }
    .form-type-item{
      label{
        float: left;
        margin-right: 10px;
      }
    }
  }
}
.page-node-add-resource{
  .form-select {
    -moz-appearance: none;
    background: transparent url("../images/select-left.png") no-repeat scroll left center;
    background-size: 100% 100%;
    border: medium none;
    font-size: 11px;
    height: 21px !important;
    line-height: 11px;
    opacity: 1 !important;
    padding-left: 2px;
    padding-top: 2px;
    position: relative;
    text-indent: 0.01px;
    max-width: 293px;
    width: 100% !important;
  }
}
.page-node-edit{
  #edit-field-instructors-und,#edit-field-instructors-und{
    width: 300px;
  }
  .location{
    .form-item-locations-0-locpick-user-latitude,.form-item-locations-0-locpick-user-longitude{
      margin-top: 20px;
      label{
        margin-top: 0;
      }
    }
  }
}