.page-sifus{
  .view-sifu{
    .view-header {
      overflow: hidden;
      .sifuheaderleft {
        float: left;
        width: 70%;
        border-top: 5px solid #f8f8f8;
        h2{
          float: left;
          text-transform: uppercase;
          margin-right: 5px;
          margin-bottom: 0;
        }
        p{
          margin-top: 17px;
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            text-decoration: underline;
            float: left;
            clear: both;
          }
        }
      }
      .sifuheaderright {
        float: right;
        background:url("../images/youcanalso-bg.png") no-repeat;
        background-size: cover;
        padding: 0 10px 10px 10px;
        width: 20%;
        h2{
          color: #116201;
          font-family: TrajanProBold;
          font-size: 15px;
          letter-spacing: -1px;
          text-transform: uppercase;
          margin-top: 0;
        }
        a{

        }
        .addvideobtn{
          a.gobtn-submit{
            border: medium none;
            color: #fff !important;
            cursor: pointer;
            background: #1D58A8;
            padding: 10px 20px;
            border-radius: 4px;
            display: inline-block;
            font-size: 14px !important;
            margin-right: 5px;
            text-decoration: none !important;
          }
          a.gobtn-submit:hover{
            background: #1266D6;
          }
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            overflow-wrap: break-word;
            text-decoration: underline;
          }
        }
      }
    }
    .view-filters{
      margin-top: -90px;
      .form-select {
        -moz-appearance: none;
        background: transparent url("../images/select-left.png") no-repeat scroll 100% 0;
        border: medium none;
        font-size: 11px;
        height: 21px !important;
        line-height: 11px;
        margin-left: -2px;
        opacity: 1 !important;
        padding-left: 2px;
        padding-top: 2px;
        position: relative;
        text-indent: 0.01px;
        text-overflow: "";
        width: 293px !important;
      }
      .description{
        display: none;
      }
      .views-exposed-widget{
      .form-text {
        box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
        border: solid 1px #BFBFBF;
        float: left;
        height: 26px;
        margin: 0 0 10px;
        border-radius: 2px;
        padding: 5px;
        width: 280px;
      }
      }

      #edit-taxonomy-vocabulary-9-tid-wrapper{
        width: 100%;
      }
      #edit-keys-wrapper{
        float: left;
        .views-widget{
          float: left;
        }
      }
      .views-submit-button{
        float: left;
        margin-top: 2px;
      }
      .views-exposed-widget{
        .form-text{
          max-width: 280px;
        }
      }
      label{
        display: block;
        font-size: 14px;
        font-weight: 400;
        float: left;
        min-width: 120px;
        margin: 0 10px 10px 0;
      }
      .form-submit{
        border: medium none;
        color: #fff !important;
        float: left;
        cursor: pointer;
        background: #1D58A8;
        padding: 10px 40px;
        border-radius: 4px;
        display: inline-block;
        font-size: 14px !important;
        margin-right: 5px;
        margin-top: 0;
        text-decoration: none !important;
      }
      .form-submit:hover{
        background: #1266D6;
      }
    }
    .attachment{
      margin-bottom: 10px;
      a{
        color: #1c57a7;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        overflow-wrap: break-word;
        text-decoration: underline;
      }
    }
  }
  table{
    background: #F8F8F8;
    thead{
      position: relative;
    }
    th.views-field-title{
      display: block;
      margin-left: -90%;
      width: 120px;
    }
    tr{
      position: relative;
    }
    td{
      font-size: 12px;
      padding: 5px 10px 10px 10px;
    }
    .views-field-field-profile-img{
      min-width: 100px;
      img{
        width: 90%;
        height: auto;
        max-width: 100px;
      }
    }
    td.active{
      background: none;
    }
    .views-field-changed{
      width: 15%;
      img{
        display: none;
      }
    }
    th{
      background: #F8F8F8;
      a{
        background: #f8f8f8 none repeat scroll 0 0;
        color: #17335b;
        font-size: 14px;
        font-weight: 700;
        height: 31px;
        line-height: 31px;
        text-decoration: none;
      }
      a.active{
        text-decoration: underline;
      }
    }
    tr.even{
      background: #F8F8F8;
      td{
        border:solid 1px #fff;
      }
    }
    tr.odd{
      background: #ededed;
    }
    a{
      color: #1c57a7;
      font-family: Arial;
      font-size: 12px;
      font-weight: 400;
      overflow-wrap: break-word;
      text-decoration: underline;
    }
  }
}