.page-sifus{
  .view-sifu{
    .view-header {
      overflow: hidden;
      margin-bottom: -90px;
      .sifuheaderleft {
        float: left;
        width: 70%;
        border-top: 5px solid #f8f8f8;
        h2{
          float: left;
          text-transform: uppercase;
          margin-right: 5px;
          margin-bottom: 0;
        }
        p{
          margin-top: 17px;
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            text-decoration: underline;
            float: left;
            clear: both;
          }
        }
      }
      .sifuheaderright {
        float: right;
        background:url("../images/youcanalso-bg.png") no-repeat 0 5px;
        background-size: cover;
        padding: 0 10px 10px 10px;
        width: 20%;
        h2{
          color: #116201;
          font-family: Trajan Pro Bold;
          font-size: 15px;
          letter-spacing: -1px;
          text-transform: uppercase;
          margin-top: 0;
        }
        a{

        }
        .addvideobtn{
          a.gobtn-submit{
            border: medium none;
            color: #fff !important;
            cursor: pointer;
            background: #1D58A8;
            padding: 10px 20px;
            border-radius: 4px;
            display: inline-block;
            font-size: 14px !important;
            margin-right: 5px;
            text-decoration: none !important;
          }
          a.gobtn-submit:hover{
            background: #1266D6;
          }
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            overflow-wrap: break-word;
            text-decoration: underline;
          }
        }
      }
    }
    .view-filters{
      .form-select {
        -moz-appearance: none;
        background: transparent url("../images/select-left.png") no-repeat scroll 100% 0;
        border: medium none;
        font-size: 11px;
        height: 21px !important;
        line-height: 11px;
        margin-left: -2px;
        opacity: 1 !important;
        padding-left: 2px;
        padding-top: 2px;
        position: relative;
        text-indent: 0.01px;
        text-overflow: "";
        width: 293px !important;
      }
      .description{
        display: none;
      }
      .views-exposed-widget{
      .form-text {
        box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
        border: solid 1px #BFBFBF;
        float: left;
        height: 26px;
        margin: 0 0 10px;
        border-radius: 2px;
        padding: 5px;
        width: 280px;
      }
      }

      #edit-taxonomy-vocabulary-9-tid-wrapper{
        width: 70%;
      }
      #edit-keys-wrapper{
        float: left;
        label{
          margin-top: 10px;
        }
        .views-widget{
          float: left;
        }
      }
      .views-submit-button{
        float: left;
        margin-top: 2px;
      }
      .views-exposed-widget{
        .form-text{
          max-width: 280px;
        }
      }
      label{
        display: block;
        font-size: 14px;
        font-weight: 400;
        float: left;
        min-width: 120px;
        margin: 0 10px 10px 0;
      }
      .form-submit{
        border: medium none;
        color: #fff !important;
        float: left;
        cursor: pointer;
        background: #1D58A8;
        padding: 10px 40px;
        border-radius: 4px;
        display: inline-block;
        font-size: 14px !important;
        margin-right: 5px;
        margin-top: 0;
        text-decoration: none !important;
      }
      .form-submit:hover{
        background: #1266D6;
      }
    }
    .attachment{
      margin-bottom: 10px;
      a{
        color: #1c57a7;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        overflow-wrap: break-word;
        text-decoration: underline;
      }
    }
  }
  table{
    background: #F8F8F8;
    thead{
      position: relative;
    }
    th.views-field-title{
      display: block;
      margin-left: -85px;
      width: 120px;
    }
    tr{
      position: relative;
    }
    td{
      font-size: 12px;
      padding: 5px 10px 10px 10px;
    }
    td.views-field-title{
      min-width: 130px;
    }
    .views-field-field-profile-img{
      min-width: 100px;
      text-align: center;
    }
    td.active{
      background: none;
    }
    .views-field-changed{
      width: 15%;
      img{
        display: none;
      }
    }
    th{
      background: #F8F8F8;
      a{
        background: #f8f8f8 none repeat scroll 0 0;
        color: #17335b;
        font-size: 14px;
        font-weight: 700;
        height: 31px;
        line-height: 31px;
        text-decoration: none;
      }
      a.active{
        text-decoration: underline;
        img{
          display: none;
        }
      }
    }
    tr.even{
      background: #F8F8F8;
      td{
        border:solid 1px #fff;
      }
    }
    tr.odd{
      background: #ededed;
    }
    a{
      color: #1c57a7;
      font-family: Arial;
      font-size: 12px;
      font-weight: 400;
      overflow-wrap: break-word;
      text-decoration: underline;
    }
  }
}
.node-type-sifu{
  .clear{
    clear: both;
  }
  .common-namelist{
    clear: both;
    ul{
      padding: 0;
      li{
        list-style: none;
        display: inline;
        margin-right: 20px;
      }
    }
  }
  .bottom-border{
    border: 5px solid #f8f8f8;
    float: left;
    margin: 29px 0 17px;
    width: 100%;
  }
  .commonname {
    float: left;
    padding: 10px 0;
    width: 100%;
    .common-left{
      float: left;
      width: 35%;
      margin-right: 2%;
      img{
        width: 100%;
        height: auto;
      }
    }
    .common-midle {
      float: left;
      width: 63%;
      ul{
        margin: 0;
        padding: 0;
        li{
          color: #666;
          font-family: Arial;
          font-size: 14px;
          font-weight: 400;
          list-style: none;
          margin-bottom: 8px;
          span{
            color: #000;
            font-family: Arial;
            font-size: 14px;
            font-weight: 700;
            padding: 0 0 15px;
          }
        }
      }
    }
    .common-right{
      float: left;
      width: 63%;
      .common-right-lft{
        color: #000;
        float: left;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
      }
      .common-right-2 {
        color: #666;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
      }
    }
    .comon-btom{
      float: left;
      width: 63%;
      margin-top: 8px;
      p{
        color: #000000;
        margin-top: 0;
        margin-bottom: 8px;
      }
      a{
        color: #666;
        font-size: 14px;
      }
      span{
        color: #000;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
        padding: 0 0 15px;
      }
      .dob-left{
        float: left;
        margin-right: 30px;
      }
      .dob-right{
        float: left;
      }
    }
  }
  h3{
    text-transform: uppercase;
  }
  .content{
    text-align: left;
    .more-link{
      font-size: 14px;
      text-align: left;
    }
  }
  .primary-part {
    float: left;
    padding: 15px 0 0;
    width: 100%;
    .review-headingbg{
      width: 100%;
    }
    #more{
      clear: both;
      padding: 0 2%;
    }
    .drupal-links {
      padding: 0 2%;
      a{
        color: #1c57a7;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
      }
    }
    #comment-form{
      padding: 50px 2% 0 2%;
      #edit-author--2{
        clear: both;
        overflow: hidden;
        label{
          float: left;
          margin-right: 5px;
        }
        .username{
          float: left;
        }
      }
    }
  }
  .primary-center >.primary01{
    width: 70%;
  }
  .primary-part .primary-center .primary01{
    width: 100%;
  }
  .primary01 {
    background: #f8f8f8 none repeat scroll 0 0;
    overflow: hidden;
    height: auto;
    clear: both;
    padding: 0;
    .lineage-text {
      color: #666;
      font-family: Arial;
      font-size: 14px;
      margin-top: 10px;
      padding: 15px 10px;
      a{
        color: #666;
        font-family: Arial;
        font-size: 13px;
        text-decoration: none;
      }
    }
    .mprimary {
      float: left;
      line-height: 20px;
      padding-top: 10px;
      width: 100%;
      .primary01-left {
        color: #17335b;
        float: left;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
        padding: 0 0 0 2%;
        width: 28%;
      }
      .primary01-midle {
        color: #17335b;
        float: left;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
        padding: 0;
        width: 50%;
      }
      .primary01-rgt {
        color: #17335b;
        float: right;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
        padding: 0;
        width: 20%;
      }
    }
  }
  .primary-center {
    clear: both;
  }
  .primary-top {
    background: rgba(0, 0, 0, 0) url("../images/primary-top.jpg") no-repeat scroll left top;
    background-size: 100% 100%;
    color: #1c57a7;
    text-transform: uppercase;
    float: left;
    margin-top: 20px;
    font-family: Trajan Pro Bold;
    font-size: 17px;
    height: 44px;
    padding: 5px 0 0 2%;
    width: 68%;
  }
  .primary-partright{
    float: left;
    width: 26%;
    margin-left: 2%;
    background: rgba(0, 0, 0, 0) url("../images/lineage-bg.jpg") no-repeat scroll left top;
    height: 309px;
    .contr-title {
      color: #116201;
      font-family: TrajanProBold;
      font-size: 16px;
      letter-spacing: -1px;
      padding: 0 0 5px 21px;
      text-transform: uppercase;
      margin-top: 0;
    }
    .lineage1 {
      font-family: Arial;
      font-size: 12px;
      height: 230px;
      line-height: 21px;
      margin-left: 10%;
      overflow-y: scroll;
      padding-right: 12%;
      width: 70%;
      background: url("../images/lineage-scroller-base.jpg") no-repeat scroll 102% top;
    }
  }
  .certification{
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
    .certification-left{
      float: left;
      padding-top: 14px;
      width: 45%;
    }
    .certification-right {
      float: left;
      width: 55%;
      ul{
        padding: 0;
        li{
          float: left;
          margin-left: 3%;
          list-style: none;
        }
      }
    }
  }
  .primary-partleft{
    width: 70%;
    float: left;
    .primary-center {
      background: #ededed none repeat scroll 0 0;
      float: left;
      height: auto;
      padding: 0;
      overflow: hidden;
      width: 100%;
      .primary02 {
        background: #ededed none repeat scroll 0 0;
        float: left;
        height: auto;
        width: 100%;
        .primary02-left {
          color: #1c57a7;
          float: left;
          font-family: Arial;
          font-size: 12px;
          font-weight: 400;
          padding: 7px 0 0 2%;
          width: 28%;
        }
        .primary02-midle {
          color: #666;
          float: left;
          font-family: Arial;
          font-size: 12px;
          font-weight: 400;
          line-height: normal;
          padding: 7px 0 0;
          width: 50%;
        }
        .primary02-rgt {
          color: #666;
          float: right;
          font-family: Arial;
          font-size: 12px;
          font-weight: 400;
          line-height: normal;
          padding: 7px 0 0;
          width: 20%;
        }
      }
      .primary-bottom{
        background: #F8F8F8;
        float: left;
        height: 7px;
        width: 100%;
      }
      .drupal-links {
        margin: 20px 0 0 2%;
      }
      .comment-form {
        padding: 2%;
      }
    }
    .primary-top{
      width: 98%;
    }
  }
  .student-sifus {
    float: left;
    padding: 45px 0 0 2%;
    width: 98%;
    h3{
      margin: 0;
    }
    .views-row{
      clear: both;
    }
    .student-titleleft {
      float: left;
    }
    .student-titleright {
      float: right;
    }
    .student-left {
      float: left;
      width: 31%;
      margin-right: 2%;
      .student-title {
        border-bottom: 1px solid #ededed;
        float: left;
        margin-right: 2%;
        width: 98%;
      }
    }
    .student-midle {
      float: left;
      width: 31%;
      margin-right: 2%;
      .student-midle-title {
        border-bottom: 1px solid #ededed;
        overflow: hidden;
      }
      .student-midle-titleleft{
        float: left;
      }
      .student-midle-titleright {
        float: right;
      }
    }
    .student-right {
      float: left;
      width: 33%;
      .student-right-title {
        border-bottom: 1px solid #ededed;
        overflow: hidden;
        .student-right-titleleft {
          float: left;
        }
      }
      .student-midle-titleright {
        float: right;
      }
    }
  }
  .add {
    background: #AFAFAF;
    border: 0 none;
    color: #fff !important;
    cursor: pointer;
    display: block !important;
    font-family: Arial;
    font-size: 12px !important;
    height: 19px;
    line-height: 19px;
    text-align: center !important;
    text-decoration: none !important;
    width: 62px;
    border-radius: 4px;
  }
  .add:hover{
    background: #404040;
  }
  .primary02-left {
    color: #1c57a7;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    padding: 7px 0 0 2%;
    width: 28%;
  }
  .primary02-midle {
    color: #666;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    padding: 7px 0 0;
    width: 50%;
  }
  .primary02-rgt {
    color: #666;
    float: right;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    padding: 7px 0 0;
    width: 20%;
  }
  .comments{
    padding: 0 2%;
    .centerleft{
      margin-left: 1%;
    }
    .review-left{
      width: 9%;
      margin-left: 1%;
    }
  }
  #edit-field-profile-img-und-table{
    th{
      padding: 10px;
    }
    .image-preview {
      float: left;
      padding: 10px 10px 10px 0;
      text-align: center;
      width: 20%;
    }
    .image-widget-data {
      float: left;
      width: 70%;
      padding-left: 2%;
      border-left: 1px solid #666;
      margin-top: 10px;
      .form-text{
        width: 95%;
      }
    }
    tr{
      position: relative;
      height: 170px;
      .form-submit{
        /*position: absolute;
        left: 25%;*/
        background: #1D58A8;
        color: #fff;
        border: none;
        bottom: 10px;
        padding: 3px 7px;
        border-radius: 4px;
      }
    }
  }
  #field-lineage-information-values{
    width: 100%;
    .field-type-node-reference{
      float: left;
      margin-right: 20px;
      margin-top: 10px;
    }
    .field-type-taxonomy-term-reference{
      margin-top: 10px;
    }
    .field-type-list-boolean{
      float: left;
      clear: both;
      margin-top: 10px;
    }
    .form-submit{
      float: left;
      clear: both;
      margin: 10px 0;
    }
  }
}
.page-sifu-ranks,.page-sifus-by-name{
  .view-Rank,.view-sifu{
    margin: 20px auto;
    width: 95%;
    .view-header{
      margin-bottom: 10px;
    }
    table{
      th{
        background-color:#f8f8f8;
        padding-left: 5px;
        a{
          color: #17335b;
          font-size: 14px;
          font-weight: 700;
          height: 31px;
          line-height: 31px;
        }
      }
      td{
        padding: 10px 5px;
        font-size: 12px;
      }
      tr.even{
        td {
          background-color: #eee;
        }
      }
      tr.odd{
        td{
          background-color: #f8f8f8;
        }
      }
    }
  }
}