.page-user{
  .user-left{
    float: left;
    width: 72%;
    .user-detail {
      overflow: hidden;
    }
    .user-detail-left {
      float: left;
      width: 20%;
      max-width: 145px;
    }
    .user-detail-midle{
      float: left;
      width: 40%;
      h3{
        margin: 0;
      }
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          color: #666;
          font-family: Arial;
          font-size: 14px;
          font-weight: 400;
          line-height: 33px;
          span{
            color: #000;
            font-family: Arial;
            font-size: 14px;
            font-weight: 700;
            line-height: 33px;
          }
        }
      }
    }
    .user-detail-right{
      float: left;
      width: 40%;
      ul{
        padding: 0;
        li{
          list-style: none;
          color: #666;
          font-family: Arial;
          font-size: 14px;
          font-weight: 400;
          line-height: 33px;
          span{
            color: #000;
            font-family: Arial;
            font-size: 14px;
            font-weight: 700;
            line-height: 33px;
          }
        }
      }
    }
    .blog-part{
      border-bottom: 5px solid #f8f8f8;
      border-top: 5px solid #f8f8f8;
      overflow: hidden;
      margin: 27px 0 19px;
      padding: 0 0 30px;
      .views-row-odd {
        background: #f9f9f9 none repeat scroll 0 0;
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        padding: 6px 5px;
      }
      .views-row-even {
        padding: 6px 5px;
      }
      a{
        font-size: 14px;
      }
      .blog-part-left {
        float: left;
        width: 50%;
      }
      .blog-part-right {
        float: right;
        width: 48%;
        .blog-topleft {
          float: left;
          width: 60%;
        }
        .blog-topright {
          float: right;
          padding: 20px 0 0;
          width: 30%;
        }
        .view-Blogs{
          clear: both;
        }
      }
    }
  }
  .user-right{
    background: transparent url("../images/recentvideosbg.jpg") no-repeat scroll left 5px;
    border-left: 1px solid #ededed;
    float: right;
    height: auto;
    margin: 25px 0 0;
    width: 27%;
    max-width: 230px;
    .contr-title{
      color: #116201;
      font-family: Trajan Pro Bold;
      font-size: 16px;
      letter-spacing: -1px;
      margin-top: 0;
      padding: 0 0 5px 21px;
      text-transform: uppercase;
      span{
        color: #1c57a7;
        font-family: TrajanProBold;
        font-size: 16px;
        letter-spacing: -1px;
        padding: 0 0 5px 5px;
        text-transform: uppercase;
      }
    }
    ul{
      margin: 0;
      padding: 20px 0 0 21px;
      li{
        list-style: none;
        background: #f9f9f9 none repeat scroll 0 0;
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        a{
          color: #1c57a7;
          font-family: Arial;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
        }
          /*a::before{
            color: #1c57a7;
            content: "- ";
          }*/

      }
      li:nth-child(2n){
        background: none;
      }
    }

  }
  .wc_blocks-friend_images{
    clear: both;
  }
  .views-field-title{
    /*a::before{
      color: #1c57a7;
      content: "- ";
    }*/
  }
  .wc_blocks-friend_images{
    ul{
      padding: 0;
      li{
        list-style: none;
        img{
          float: left;
          margin-right: 10px;
        }
        a{
          float: left;
        }
      }
    }
    .friends{
      li{
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
      }
    }
    .add_friend{
      float: left;
      clear: both;
    }
  }
  .l-content{
    .form-submit {
      background: #1d58a8 none repeat scroll 0 0;
      border: medium none;
      border-radius: 4px;
      color: #fff !important;
      cursor: pointer;
      display: inline-block;
      font-size: 14px !important;
      margin-right: 5px;
      margin-top: 0;
      padding: 10px 40px;
      text-decoration: none !important;
    }
  }
}

.page-user-ip-tracking,.page-user-track,.page-user-relationships {
  table {
    background: #F8F8F8;
    img{
      height: auto;
    }
    thead {
      position: relative;
    }
    td {
      font-size: 12px;
      padding: 5px 10px 10px 10px;
    }
    td.active {
      background: none;
    }
    th {
      background: #F8F8F8;
      padding: 0 0 0 5px;
      a {
        background: #f8f8f8 none repeat scroll 0 0;
        color: #17335b;
        font-size: 14px;
        font-weight: 700;
        height: 31px;
        line-height: 31px;
        text-decoration: none;
      }
    }
    tr.even {
      background: #F8F8F8;
      td {
        border: solid 1px #fff;
      }
    }
    tr.odd {
      background: #ededed;
    }
    a {
      color: #1c57a7;
      font-family: Arial;
      font-size: 12px;
      font-weight: 400;
      overflow-wrap: break-word;
      text-decoration: underline;
    }
  }
}

.page-user-edit {
  label {
    font-size: 14px;
    font-weight: 400;
  }
  .l-content{
  .form-text {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
    height: 26px;
    margin: 0 0 10px;
    max-width: 280px !important;
    padding: 5px;
    width: 90% !important;
  }
  .form-select {
    -moz-appearance: none;
    background: transparent url("../images/select-left.png") no-repeat scroll left center / 100% 100%;
    border: medium none;
    font-size: 11px;
    height: 21px !important;
    line-height: 11px;
    opacity: 1 !important;
    padding-left: 2px;
    padding-top: 2px;
    position: relative;
    text-indent: 0.01px;
    width: 90%;
    max-width: 245px;
  }
  textarea {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    width: 96%;
    background: #fff;
    max-width: 500px;
  }
  .grippie {
    display: none;
  }
  .form-type-password-confirm {
    width: 90%;
    max-width: 560px;
  }
  fieldset {
    margin-bottom: 20px;
  }
    .form-submit {
      background: #1d58a8 none repeat scroll 0 0;
      border: medium none;
      border-radius: 4px;
      color: #fff !important;
      cursor: pointer;
      display: inline-block;
      font-size: 14px !important;
      margin-right: 5px;
      margin-top: 0;
      padding: 10px 40px;
      text-decoration: none !important;
    }
}
  table{
    th,tr,td{
      background-color: #fff;
    }
  }
}
.section-relationships{
  th,td{
    padding: 5px;
  }
}
.page-user-register{
  .form-select{
    background: transparent url("../images/select-left.png") no-repeat scroll left center/100% 100%;
    border: medium none;
    font-size: 11px;
    height: 21px !important;
    line-height: 11px;
    opacity: 1 !important;
    position: relative;
    width: 90%;
    max-width: 245px;
  }
}