html.js .form-autocomplete{
  background: none !important;
}
.page-videos{
  .view-videos{
    label{
      float: none !important;
    }
    .view-header {
      overflow: hidden;
      margin-bottom: -80px;
      .sifuheaderleft {
        float: left;
        width: 70%;
        border-top: 5px solid #f8f8f8;
        h2{
          float: left;
          text-transform: uppercase;
          margin-right: 5px;
          margin-bottom: 0;
        }
        p{
          margin-top: 17px;
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            text-decoration: underline;
            float: left;
            clear: both;
          }
        }
      }
      .sifuheaderright {
        float: right;
        background:url("../images/youcanalso-bg.png") no-repeat;
        background-size: cover;
        padding: 0 10px 10px 10px;
        width: 20%;
        h2{
          color: #116201;
          font-family: Trajan Pro Bold;
          font-size: 15px;
          letter-spacing: -1px;
          text-transform: uppercase;
          margin-top: 0;
        }
        a{

        }
        .addvideobtn{
          a.gobtn-submit{
            border: medium none;
            color: #fff !important;
            cursor: pointer;
            background: #1D58A8;
            padding: 10px 20px;
            border-radius: 4px;
            display: inline-block;
            font-size: 14px !important;
            margin-right: 5px;
            text-decoration: none !important;
          }
          a.gobtn-submit:hover{
            background: #1266D6;
          }
          a{
            color: #1c57a7;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            overflow-wrap: break-word;
            text-decoration: underline;
          }
        }
      }
    }
    .view-filters{
      width: 75%;
      .form-select {
        -moz-appearance: none;
        background: transparent url("../images/select-left.png") no-repeat scroll 100% 0;
        border: medium none;
        font-size: 11px;
        height: 21px !important;
        line-height: 11px;
        margin-left: -2px;
        opacity: 1 !important;
        padding-left: 2px;
        padding-top: 2px;
        position: relative;
        text-indent: 0.01px;
        text-overflow: "";
        max-width: 293px !important;
        width: 100%;
      }
      .description{
        display: none;
      }
      #edit-title-wrapper{
        padding-right: 0;
        width: 48%;
        margin-right: 2%;
        max-width: 280px;
      }
      #edit-tid-wrapper{
        width: 48%;
        max-width: 280px;
      }
      .views-exposed-widget{
      .form-text {
        box-shadow: 3px 3px 7px 0 #f9f9f9 inset;
        border: solid 1px #BFBFBF;
        float: left;
        height: 26px;
        margin: 0 0 10px;
        border-radius: 2px;
        padding: 5px;
        width: 100%;
        padding-right: 0;
      }
      }
      #edit-keys-wrapper{
        float: left;
        .views-widget{
          float: left;
        }
      }
      .views-submit-button{
        float: left;
        margin-top: 2px;
        clear: both;
      }
      .views-exposed-widget{
        .form-text{
          max-width: 280px;
        }
      }
      label{
        display: block;
        font-size: 14px;
        font-weight: 400;
        float: left;
        min-width: 120px;
        margin: 0 10px 10px 0;
      }
      .form-submit{
        border: medium none;
        color: #fff !important;
        float: left;
        cursor: pointer;
        background: #1D58A8;
        padding: 10px 40px;
        border-radius: 4px;
        display: inline-block;
        font-size: 14px !important;
        margin-right: 5px;
        margin-top: 0;
        text-decoration: none !important;
      }
      .form-submit:hover{
        background: #1266D6;
      }
    }
    table{
      width: 100%;
      td{
        display: block;
        float: left;
        width: 31%;
        margin: 0 1% 20px 1%;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.node-type-video{
  .field--name-field-emvideo{
    margin-top: 20px;
  }
  .videosubtitle-left {
    color: #000;
    float: left;
    font-size: 14px;
    height: auto;
    width: 113px;
  }
  .ondate,.rs{
    color: #000;
    float: left;
    padding: 0 15px 0 0;
    span{
      color: #666;
    }
  }
  .videotitleinner{
    float: left;
    margin: 25px 0 0;
    padding: 0;
    width: 72%;
    .video01 {
      clear: both;
      overflow: hidden;
      iframe{
        width: 100%;
      }
    }
  }
  .recentvideos-right {
    border-left: 1px solid #ededed;
    float: right;
    height: auto;
    margin: 25px 0 0;
    width: 27%;
    .recentvideos{
      background: rgba(0, 0, 0, 0) url("../images/recentvideosbg.jpg") no-repeat scroll center top;
      margin: 0;
      padding: 0 0 0 5%;
      a{
        font-size: 14px;
        line-height: 25px;
      }
      .yca{
        color: #116201;
        font-family: TrajanProBold;
        font-size: 15px;
        letter-spacing: -1px;
        text-transform: uppercase;
      }
      .more-link {
        display: none;
      }
    }
  }
  .description{
    .content {
      color: #666;
      font-family: Arial;
      font-size: 14px;
      line-height: 25px;
    }
  }
  .tags {
    margin: 15px 0 0;
    .tagleft {
      color: #1c57a7;
      float: left;
      font-family: TrajanProBold;
      font-size: 17px;
      text-transform: uppercase;
      width: 56px;
    }
    .tagright {
      color: #1c57a7;
      float: right;
      font-size: 12px;
      width: 317px;
      p{
        margin: 0;
      }
    }
  }
}