.section-encyclopedia{
  h1{
    border-bottom: 5px solid #f8f8f8;
  }
}
.section-wiki{
  .l-region--sidebar-first{
    #block-views-wiki-categories-block{
      background-position: right -10px;
      li{
        /*a::before{
          color: #1c57a7;
          content: "- ";
        }*/
          background: #f9f9f9 none repeat scroll 0 0;
          border-bottom: 1px solid #e1e1e1;
          border-top: 1px solid #e1e1e1;
      }
      li:nth-child(2n){
        background: none;
      }
    }
  }
  .view-wiki{
    .views-field-title{
      /*a::before{
        color: #1c57a7;
        content: "- ";
      }*/
    }
    .views-row-odd{
      background: #f9f9f9 none repeat scroll 0 0;
      padding: 6px 5px;
      border-bottom: 1px solid #e1e1e1;
      border-top: 1px solid #e1e1e1;
    }
    .views-row-even {
      padding: 6px 5px;
    }
  }
}