/*******************************************************************************
 * Off canvas portion of styling for the Off Canvas layout.
 ******************************************************************************/

.l-ewingchun-show,
.l-ewingchun-hide {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background: transparent url("../../../layouts/ewingchun/assets/close.png") center center no-repeat;
  @include hide-text;
}
.l-ewingchun-show {
  background: transparent url("../../../layouts/ewingchun/assets/menu.png") center center no-repeat;
}

@include breakpoint(0 $tab) {
  // No JS Fallbacks
  .no-js .l-ewingchun {
    position: relative;
    min-height: 24px;
    padding-right: 24px;

    .l-region {
      position: relative;
      overflow: hidden;
    }
    .l-ewingchun-hide {
      display: block;
    }
    &:not(:target) {
      .l-region {
        min-height: 0;
        height: 0;
      }
      .l-ewingchun-show {
        display: block;
      }
      .l-ewingchun-hide {
        display: none;
      }
    }
  }

  // JS Enabled Styles
  .js .l-page {
    position: relative;
    height: 100%;
  }
  .js .l-ewingchun {
    min-width: 325px;
    position: absolute;
    z-index: 99;
    width: 50%;
    top: 0;
    bottom: 0;
	/*
    left: -80%;
	*/
    left: -300px;
    padding-top: 24px;

    @include transition(left 0.2s ease-in);
    cursor: pointer;

    &.is-visible {
      left: 0;
      cursor: auto;

      .l-ewingchun-show {
        display: none;
      }
      .l-ewingchun-hide {
        display: block;
      }
    }
    .l-ewingchun-show {
      display: block;
    }
  }
}

#search-block-form {
  .container-inline {
    background: #17335b;
  }
}
